[2014-01-17 14:56] lettucemode opened #1 "Green/Yellow action markers don't work"
For some reason the green and yellow action markers do not behave properly, i.e. they make the Python script crash.

[2014-01-17 14:58] lettucemode opened #2 "Automatically resolve Burn tokens"
Automatically resolving Burn tokens would be a nice feature!

[2014-01-17 15:00] lettucemode opened #3 "Add checks for Epic and Mage/School restricted cards to in-game validator"
The Deckbuilder checks for multiple Epic cards and any mage/school restricted cards, but the validator that adds up the spellpoints when you load a deck in-game does not.

[2014-01-17 15:07] lettucemode opened #4 "Add forum code (BBCode) export to Deckbuilder"
The official forums support showing card previews. It would be cool if there were an option to export decks from the OCTGN deckbuilder in such a way that when pasted into a forum post, the cards showed previews. The card IDs are already in the OCTGN database.

[2014-01-17 15:22] lettucemode opened #5 "Separate Card Text field into Attack and Text fields"
As discussed in the email, sIKE wants to separate the card text into two separate fields and add an Attack Bar field to the database.

[2014-01-18 01:26] sIKE23 opened #6 "Deckbuilder - Column Order"
is it  possible to change the order of the columns within the Deckbuilder?

[2014-01-19 03:09] #6 closed, assigned to lettucemode

[2014-01-19 19:02] sIKE23 opened #7 "Better ways to handle Enchantements when hidden and when revealed."
The common complaint on OCTGN is the way Enchantments are handled.

So there are several items with Enchantments:

Is there a way that we could automate the casting cost of hidden enchantments?
Is there a way we could attach the enchantments (both hidden and revealed)
Can we make a modal window to prompt are you sure? (also add option to turn off)

[2014-01-19 19:07] sIKE23 opened #8 "Deckbuilder-DLL - Build Version"
Can we add a build number to the dll?

[2014-01-19 19:13] sIKE23 opened #9 "Standardize/Normalize data field's in set.xml files"
Standardize/Normalize data field and dataset's in all released set.xml files going forward use the template created for this purpose.

[2014-01-20 16:16] #3 closed, assigned to lettucemode

[2014-01-21 05:40] sIKE23 opened #10 "Modal window to prompt for the reveal of hidden enchantments."
Add a modal window on hidden enchantments to prompt if they are sure they wish to reveal the enchantment at this time? Optimally there would be a way to configure this feature on/off.

[2014-01-21 05:43] sIKE23 opened #11 "Improve the way we handle Enchatments (Attach Enchantment to target Object)"
Automate the casting cost of hidden enchantments by attaching them to the target card and paying the 2 mana cost.

[2014-01-21 05:46] #7 closed, assigned to nobody

[2014-01-21 06:50] sIKE23 opened #12 "Export Spellbook in to AW SBB Format"
Would like to see the ability to Export the spellbook(s) built in the OCTGN sbb  into the Arcane Wonders sbb format.

This should tie in with the BBCode task

[2014-01-21 23:18] sIKE23 opened #13 "Place to store cards that have been obliterated"
Asked Charmyna what his thoughts were on improvements. This was one of them.

[2014-01-22 04:24] #1 closed, assigned to lettucemode

[2014-01-22 15:36] sIKE23 opened #14 "Versioning"
There are a couple of things I have in mind, and I wanted to get your thoughts on versioning and current versions.

So the Build is 4 fields, the set.xml files are 4 fields. No versioning on the dll.

Here are my thoughts.
- The build should stay at 4 fields but we bump for 1.2.10.0 to 1.3.0.0
- in between releases I don't care so much if we move the number, but if we were too, I would bump the 3r

[2014-01-22 16:01] #5 closed, assigned to sIKE23

[2014-01-22 16:01] #9 closed, assigned to sIKE23

[2014-01-23 05:29] #2 closed, assigned to lettucemode

[2014-01-23 05:30] #8 closed, assigned to lettucemode

[2014-01-23 06:19] #14 closed, assigned to sIKE23

[2014-01-23 06:30] sIKE23 opened #15 "Feburary release ready?"
I am thinking at this point that we are good with the code set for the feb release. I.E. I think that we should hold off pushing any other Enhancements out for the march release.

I think that gives us time to schedule some time to play the game and execrise the new code and put the new features through some paces and once we are happy, maybe even get a friendly game in.

If you want to work on Ma

[2014-01-24 18:26] sIKE23 opened #16 "SBB - Filtering on Set"
Right now in the Spellbook Builder, all of the categories except "Set" can be filtered with several different built-in filters, can we do the same for the "Set" category?

[2014-01-25 01:17] sIKE23 opened #17 "Image File Update"
Fix the issues with missing Promo's, update DvN images.

[2014-01-26 06:20] sIKE23 opened #18 "Initative Markers (in game they are cards)"
Right now they are Blue and Red. We need to add in Green and Yellow.

I will get the cards made, how much time to get the code in? Can we get it in for Feb or should we push that into March?

[2014-01-26 06:52] sIKE23 opened #19 "How should we handle loading mutiple decks"
While testing this evening, I un-intentionally loaded a Priest deck on top of the CoK BM deck. They merged and then griped about the BM only cards.

We probably shouldn't allow this to happen. Nothing on the front burner but something that we should put on the road map.

[2014-01-26 23:51] sIKE23 opened #20 "(New or Old) Color Markers are not be placed on cards"
When I load the deck into the game and I select my Mage Card and Mage stat card and place them beside the board, when I flip the mage card over it should have both the Quick Cast marker and the appropriate Colored Action marker.  It doesn't, it only has the QC marker. I have tried with several colors.

[2014-01-28 17:13] #20 closed, assigned to lettucemode

[2014-01-29 02:51] #18 closed, assigned to nobody

[2014-01-30 03:05] #17 closed, assigned to sIKE23

[2014-01-30 03:09] sIKE23 opened #22 "In-Game Automation"
As a part of game setup after color selections are made can we run Ctrl Down automatically?

If we can we might prompt or have a setting to turn automation off....

[2014-01-31 05:22] sIKE23 opened #23 "Add ability to rotate and flip Walls"
11:06 AM murphy hi
11:06 AM murphy I want to inform u about a problem with mage wars and octgn
11:07 AM murphy I had difficulties to position wall of pikes
11:07 AM murphy I can exhaust it
11:07 AM murphy to turn it 90°
11:07 AM murphy but not 180° 270°
11:07AM murphy :(
11:08 AM murphy before the last update ¡ could do that with flip card
11:08 AM murphy maybe u will change that?

[2014-01-31 05:34] sIKE23 opened #24 "Flip Vine Marker"
The card is there we just need the logic to flip it

[2014-01-31 05:35] sIKE23 opened #25 "Board Flip not working for both players"
When the board is flipped by one player it should be flipped for the other..

[2014-01-31 05:37] sIKE23 opened #26 "Remove Board Flipping from Feb Release"
Pushed to March

[2014-01-31 06:07] #26 closed, assigned to sIKE23

[2014-02-01 06:35] sIKE23 opened #27 "Setup the Proxy Card Generator"

[2014-02-02 07:01] sIKE23 opened #28 "Add a shortcut for Corrode Markers"

[2014-02-02 07:33] #15 closed, assigned to sIKE23

[2014-02-02 17:07] #28 closed, assigned to sIKE23

[2014-02-04 08:04] #24 closed, assigned to lettucemode

[2014-02-04 08:10] #23 closed, assigned to lettucemode

[2014-02-04 15:44] sIKE23 opened #29 "Alt Play"
I have been thinking about the alt play cards and board. Lets do the same thing that we did with Vine Markers. In definition.xml add a sub menu and organize alt play there like:

<groupactions menu="Alternative Play">
<groupaction menu="Flip Game Board" default="False" shortcut="Alt+F9" execute="flipGameBoard"/>
<groupaction menu="Add Alt Board Card" default="False" shortcut="Alt+F8" execute="crea

[2014-02-06 00:13] sIKE23 opened #30 "Dice Rolling"
Three things:
1. When we pull the 50 results from random.org and put the results into the dice bank, do we keep the results in-between rolls?
2. Will you do a code review and make sure things are working as expected? I looked at it and all seems to work as expected.
3. In the chat window the results of the roll are displayed. Is there a way we could output that the roll came from random.org. i.e.

[2014-02-08 16:00] lettucemode opened #31 "Accidentally reveal face-down enchantment if you place a marker on it."
Currently there is a possiblity to reveal what your face-down enchantment is if you accidentally put a marker on it. A fix is in the works.

[2014-02-08 16:49] #31 closed, assigned to nobody

[2014-02-09 02:56] #27 closed, assigned to sIKE23

[2014-02-09 15:19] #16 closed, assigned to sIKE23

[2014-02-10 21:31] sIKE23 opened #32 "March Release Branch"
It has been 10 days since the Feb release. Are we ready to merge the March-release branch back into the Master branch? Also I am going to set up an April branch and you can start throwing things that you would like to do for April. I also added some new labels for Priority from at least my POV. This way we can mark the issues we would like done in a prioritized order. Let me know what you think.

[2014-02-10 21:39] sIKE23 opened #33 "New OCTGN release - Place Holder"
The next release of OCTGN will add spectating to the game. This is a place holder for us to review and update our side of things if needed be, up to a point release mid-cycle if needed.

[2014-02-12 05:08] #25 closed, assigned to lettucemode

[2014-02-12 05:19] #32 closed, assigned to nobody

[2014-02-12 15:10] #29 closed, assigned to sIKE23

[2014-02-13 02:57] #4 closed, assigned to lettucemode

[2014-02-15 00:43] sIKE23 opened #34 "castSpell function - needs improvement"
When you unintentionally double click on a card and cast it there is not a "cancel" so you have to click the X in the corner to close the window. It then throws out a stream of errors and some of the automation breaks afterwards (the initiative token in my last game).

We need to fix this, optimally we would do a big re-write here (maybe as a part of the Enchantment fixes) where we would bring up

[2014-02-16 18:56] sIKE23 opened #35 "Flipping Action Marker is not logged in Chat Window"
When an Action Marker is flipped we should say

'[creature]' readies Action Marker
'[creature]' spends Action Marker

just like the QC marker...

[2014-02-16 21:23] sIKE23 opened #36 "This is what happens when players say they are bugged"
Traceback (most recent call last):
File “<string>’, line 1, in <module>
File “C:\Users\fczajka.sikestoy\Documents\Octgn\GameDatabase\9acef3dO-efa8-4d3f-alOc-548l2baecdda\scripts\actions.py,
line 647, in defaultAction
File “C:\Users\fczajka.sikestoy\Documents\Octgn\GameDatabase\9acef3dO-efa8-4d3f-alOc-548l2baecdda\scripts\actions.py”,
line 855, in castSpell
File”<string>’,linel9O, in controller
Fil

[2014-02-17 00:35] #35 closed, assigned to lettucemode

[2014-02-17 02:52] #33 closed, assigned to nobody

[2014-02-17 21:30] sIKE23 opened #37 "Multi Player Support"
I did some three player testing yesterday. Surprisingly it went very well and I bumped into very few issues. The one I did discover was with the switchphase function. Even though we had three players, it only takes two (any combination of two of the three players) to advance to the next phase.

I have put this in the long-term bucket. If we run into another reason between now and "later" to work o

[2014-02-17 22:01] sIKE23 opened #38 "When you flip a card face down the name is not used"
- notify uses the information available at the moment it's called, so if the card's already face down it just gets ?

fixed just moved the notify statement ahead of the card.isFaceUp = False statement

closing

[2014-02-19 15:54] #38 closed, assigned to sIKE23

[2014-02-20 02:48] sIKE23 opened #39 "March Release - How close are we?"
There are three open issues:
- Modal window to prompt for the reveal of hidden enchantments
- Export Spellbook in to AW SBB Format
- In-Game Automation

Do you have time to complete all three of these items between now and the end of the end of the month, along with testing? If not, what should slip? Is there anything you want to add? I am happy where we are so far, the more we get in the happier

[2014-02-21 16:21] sIKE23 opened #40 "Update spellbook validators for FiF Alt Mages"
With the upcoming release of FiF we will get two new Alt mages like the Jokarti BM. In both SBBs we will need to change the validation rules to "contains" Warlock and Warlord instead of "equals" Warlord or Warlord. I will keep you in the loop as I am able to say more.

[2014-02-22 01:28] sIKE23 opened #41 "Invisible Marker doesnt flip during Reset Phase"

[2014-02-22 01:31] sIKE23 opened #42 "Add Druid Trees to Mana Function"
These should be added just like the other Spawnpoints and familiars....

[2014-02-22 02:44] #42 closed, assigned to lettucemode

[2014-02-22 02:46] #41 closed, assigned to sIKE23

[2014-02-22 18:04] sIKE23 opened #43 "Spellbook Validator - Spell Count Enforcement"
We should add in card count validation, i.e. up to 6 Level 1 cards allowed and up to 4 Level 2 and above (per card name) is allowed.

[2014-02-24 05:29] sIKE23 opened #44 "In-Game Automation - Part II"
Automate rolling for initiative at start of game. This will complete the request from  #22

[2014-02-25 18:01] sIKE23 opened #45 "Add Druid Treebond marker and Necro Eternal Servant Markers to Mage Cards"
Several players requested that the Druid and the Necro should start with their custom markers just like the Priest etc. So they now do, while I was at it I added in the other markers for cards that start with them. I think the logic is a bit spaghetti like but we can clean that up next release.

[2014-02-25 18:01] #45 closed, assigned to sIKE23

[2014-02-28 05:53] #22 closed, assigned to lettucemode

[2014-03-01 07:43] #10 closed, assigned to lettucemode

[2014-03-01 18:28] sIKE23 opened #46 "Add Notify "Round Number" to Chat Log"

[2014-03-01 18:42] #39 closed, assigned to lettucemode

[2014-03-01 21:50] lettucemode opened #47 "Release new version 1.4.1.0"
Release today had an issue where spectators joining would reset several internal game variables (actually this has been going on ever since spectator support was released). I have fixed this so the new version just needs to be put together and published.

Hopefully this is the reason people have had problems with the initiative token and phase card not changing....

[2014-03-01 22:11] #47 closed, assigned to nobody

[2014-03-02 17:06] sIKE23 opened #48 "Initative handling breaks when a tie is rolled"
After the re-roll the winner does not get prompted and things just stall out

[2014-03-02 18:20] lettucemode opened #49 "Add ready markers to all cards that use them"
Suggestion from a player. Sometimes players forget to add ready markers to creatures with defense or rings, for example.

[2014-03-02 18:24] lettucemode opened #50 "Druid's Leaf Ring casting discount not working"
If you look at the Text field for Force Ring, it has "\n[Casting Discount][1][Force]" on the end of it. This is how the script knows to discount 1 mana for Force spells if the ring is on the table.

Druid's Leaf Ring will need  "\n[Casting Discount][1][Plant]" added to it, and Death Ring will need something similar, but I don't think the casting discount code will work with two of those on it. So

[2014-03-02 18:25] lettucemode opened #51 "Double ready markers"
Some things can have two different ready markers on them. Additional code for the Ctrl+r ready marker flip is needed to handle this situation.

[2014-03-02 19:41] #48 closed, assigned to lettucemode

[2014-03-09 18:16] sIKE23 opened #52 "Reseting Game casues automation to create duplicate phase and initative tokens"

[2014-03-09 21:28] sIKE23 opened #53 "Spellbook Builder: Validation not running on second spellbook"
Was playing around with the new SBB and after I validated the new Warlords deck, I realized I couldn't test it on the AW website. So I loaded a new book in (my Priest v10 spellbook) in to the SBB and was able to then export it without validating it.

[2014-03-09 21:39] sIKE23 opened #54 "May Release"

[2014-03-09 21:42] #54 closed, assigned to nobody

[2014-03-10 15:49] #13 closed, assigned to lettucemode

[2014-03-11 08:04] sIKE23 opened #55 "Spellbook Builder: Validated Spellbook output"
When you validate a spellbook, it is copied to the clipboard:

Mage Wars deck (built using OCTGN deckbuilder) 3/11/2014 12:00:00 AM

the time is always 12:00:00, can we either fix this or remove the time all together (preference is to fix).

and can we change deckbuilder to SBB or Spellbook Builder

[2014-03-16 18:19] #46 closed, assigned to sIKE23

[2014-03-16 22:49] #49 closed, assigned to lettucemode

[2014-03-16 22:49] #50 closed, assigned to sIKE23

[2014-03-16 22:49] #51 closed, assigned to sIKE23

[2014-03-17 00:57] sIKE23 opened #56 "Add in notification of where the dice are rolled from (3rd item from #30)"
Let me know what you think, and if you have a better idea for formatting the output.

[2014-03-17 00:59] #12 closed, assigned to lettucemode

[2014-03-24 14:13] #56 closed, assigned to sIKE23

[2014-03-24 14:14] #40 closed, assigned to lettucemode

[2014-03-27 05:22] #43 closed, assigned to lettucemode

[2014-03-28 05:25] sIKE23 opened #57 "April Release Prep"
Couple of questions before I roll the release.
- Bump version to 1.5.0.0?
- Forked for the May-Release work
- Anything to add to the Release Doc?
- Have I missed or forgotten anything?
- Do we want to delay by a week?

[2014-03-28 14:54] sIKE23 opened #58 "Global Variables"
I was out reading through the OCTGN Google Group for Devs and came across this note:

*\* Important **
Make sure in your python code you are not using global python variables, and are instead using getGlobalVariable, setGlobalVariable,player.getGlobalVariable, player.setGlobalVariable. Game reconnects, spectators, and crash recovery won't be able to recover any python global variables or lists or

[2014-03-28 16:01] sIKE23 opened #59 "SBB - Loading o8d file with no mage"
Had a player bring this up

http://octgn.gamersjudgement.com/wordpress/magewars/2014/03/13/spellbook-validator-plugin-found-calculate-value-spell-book-wildly-inaccurately/#comment-814

To reproduce
- create a new deck
- add 1 attack spell to the attack category
- save deck as test.o8b
- load different o8b file
- reload test.o8b
- the Attack category is now the first category, not the Mage category

[2014-03-31 17:38] sIKE23 opened #60 "Create New Markers - Purple and Gray"
Add in the new markers colors from the newly released Mage Wars: Action Marker Set 2

[2014-04-03 06:14] #34 closed, assigned to lettucemode

[2014-04-03 06:34] sIKE23 opened #61 "Rework Gamersjudment portal pages."
- create a dedicated page for the Deckbuilder and its installation
- create a page for ImagePacks and their installation
- create a page for How to Play the Game in OCTGN
- create a FAQ/Troubleshooting page
- general cleanup of the other pages as needed to reflect the above changes

[2014-04-03 06:36] sIKE23 opened #62 "Create Powershell Script to unblock and install deckbuilder.dll"
Will be supported only on Vista and above.

[2014-04-03 18:01] sIKE23 opened #63 "Debug - Advance to the next phase with only one player and turn off deck validation"
While testing releases many times I only load up one player. When I do this I would like to be able to turn debugging on and advance to the next phase. Is this a possibility with the current code set? If so would it be easy to implement?

[2014-04-04 21:05] sIKE23 opened #64 "Resize Board and Game releated Card Placement"
Goal here is to make the board a bit bigger and the cards a bit smaller so we can get more cards on the board when we play.

[2014-04-07 14:28] #57 closed, assigned to sIKE23

[2014-04-07 14:28] #64 closed, assigned to sIKE23

[2014-04-09 16:34] #58 closed, assigned to lettucemode

[2014-04-12 05:00] sIKE23 opened #65 "FiF Release"
May have to slip to August depending upon release date. I don't want this out the door until the Cards are available on the AW SBB. Most of the work is already done, I think the SBB is ready, the in-game validator is ready, I have finished up the work with the markers, the cards, and set.xml.

[2014-04-12 05:16] sIKE23 opened #66 "Automate Rot Tokens"
Same thing as Burns but simpler as it is just one point of damage....

[2014-04-13 16:11] sIKE23 opened #67 "Add in support for mutiple gameboards - Part I"
I talked with Tox on International Table Top Day and we discussed the modular game board. He said the thinking is 25 modular tiles. I am guessing this is going to be a bit smaller than that.

For May, I would like to add in the 4x6 board for play as an option. I think the scripting part will be fast and easy, the menu part should be easy also.

[2014-04-13 16:16] sIKE23 opened #68 "Add in support for mutiple gameboards - Part II"
I talked with Tox on International Table Top Day and we discussed the modular game board. He said the thinking is 25 modular tiles. I am guessing this is going to be a bit smaller than that.

This one is support for multiple game boards. We might look into breaking this out into its own script. One this enchantment the menu for selecting which board becomes a bigger challenge. Any thoughts on this

[2014-04-15 22:58] sIKE23 opened #69 "Spellbook Builder: Promo warning not working in SBB"
This appears to have to stopped working again......

[2014-04-16 06:28] sIKE23 opened #70 "Add in emotes"
Should of created an enhancement request when I did this work

[2014-04-16 06:28] #66 closed, assigned to sIKE23

[2014-04-17 20:26] #70 closed, assigned to sIKE23

[2014-04-20 22:28] #53 closed, assigned to lettucemode

[2014-04-20 22:28] #69 closed, assigned to lettucemode

[2014-04-20 22:28] #30 closed, assigned to lettucemode

[2014-04-25 18:21] sIKE23 opened #71 "Game Statistics Server"
Basically after every game, the module would report to this server who played, who won/lost, what mages were used, what cards were used, game length...it would be really cool to look through all that data.

The Netrunner module currently does this and I found the code for it, so it is definitely possible. I have a good implementation plan in the back of my mind already.

[2014-04-25 20:18] sIKE23 opened #72 "Winning a Game"
Right now we have no in-game mechanism for winning. I have added in "Concede" function in today. So we now have one way. When a mage reaches 0 Life and the phase ends we should be able to determine a winner...

[2014-04-29 05:58] #67 closed, assigned to sIKE23

[2014-05-01 14:40] #44 closed, assigned to lettucemode

[2014-05-01 14:43] #62 closed, assigned to sIKE23

[2014-05-01 14:45] #61 closed, assigned to sIKE23

[2014-05-02 15:43] sIKE23 opened #73 "Clean up Ready Marker Notify Text"
I am not happy with it

[2014-05-03 03:49] #55 closed, assigned to lettucemode

[2014-05-03 15:40] #63 closed, assigned to lettucemode

[2014-05-03 15:41] sIKE23 opened #74 "Change Phase Bug Looks from #63"
Looks like #63 has introduced a bug that is effecting 2+ player games. Any player that clicks Ctril+Down Arrow and Next Phase advances the game to the next phase. Both players can do this. Have no clue how I missed this!

[2014-05-05 15:28] sIKE23 opened #75 "Spellbook Builder: Calculating book cost incorrectly"
This book in the SBB is calculating to 119 but in the in-game validator it is calculating to 120.  I think that the SBB is wrong here, but I am unable to get that older spell point count special dll to work for me. Can you take a look to see what(/if) is wrong.

https://dl.dropboxusercontent.com/u/58842665/Warlord%20MPlayer.o8d

[2014-05-05 22:56] sIKE23 opened #76 "Request: Leave card highlights around revealed Conjurations and Enchantments"
This helps keep track of whose cards these are for spectators and in more than 2 player games.

[2014-05-07 05:10] #74 closed, assigned to lettucemode

[2014-05-07 15:32] sIKE23 opened #77 "Multiple Initative Markers with three or more players"
schwenkgott has been a valuable resource he has experienced this issue multiple times. I am sure it is an OnGameStart issue. Can we make sure the Initiative stuff including picking colors doesn't fire off during an "OnGameStart" event.

I am ready for us just to pull the event completely (well almost  completely) and code a "http put" to the git issue #1249 to add an update to it so it annoys the

[2014-05-08 21:38] sIKE23 opened #78 "Show version number each player is using at start of the game"
I have players complaining that some of them can advance the phase by themselves still while they can't. I figure that going forward we can put this snippet in and then ask for it when troubleshooting

[2014-05-08 22:50] sIKE23 opened #79 "Create a D12 Dicebank for the effect dice"
The change I made to the effect die roll for 1.6.0.0 to point to Random.org goes out each time for the roll. This way we will grab 100 dice rolls up front and bank them and use then throughout the rest of the game.

[2014-05-09 06:23] sIKE23 opened #80 "Add Dissipate Tokens and automate them"
For Rolling Fog......add the 3 tokens and then during upkeep remove a token and if there are none left move Rolling Fog to the discard pile.

[2014-05-09 19:18] sIKE23 opened #81 "Request: Clean up Phase Change chat log text"
Phrasing of items such as "Phase Upkeep Phase" are awkward and other phrases are missing "the" .

[2014-05-09 21:39] sIKE23 opened #82 "Request: Move Initative, Dice Roll Area, and Phase cards to bottom of the board"
commit eae915690a823874a6b2b4acc7ab1430475acd42

[2014-05-10 17:42] #75 closed, assigned to lettucemode

[2014-05-12 06:22] sIKE23 opened #83 "OnGameStart"
Is there a way we can implement a work around? Like once both players have finished init I am thinking in the CreateIniToken() function we set a variable GameAlreadyStart = Yes and then in the OnGameStart function we use an if statement to check and if yes the skip return:

Is this possible?

[2014-05-12 07:11] sIKE23 opened #84 "Change Load Token Color & Automate Adding Load Token"
The current load token is red which is the same as the damage marker, this is confusing changing to Orange. While I was at it, thought that I would go ahead and automate this bit.

[2014-05-17 00:08] #83 closed, assigned to nobody

[2014-05-17 06:12] sIKE23 opened #85 "Add support for Matchmaking"

[2014-05-22 04:42] #73 closed, assigned to sIKE23

[2014-05-22 04:42] #76 closed, assigned to nobody

[2014-05-22 04:42] #78 closed, assigned to sIKE23

[2014-05-22 04:42] #79 closed, assigned to sIKE23

[2014-05-22 04:42] #80 closed, assigned to sIKE23

[2014-05-22 04:42] #81 closed, assigned to sIKE23

[2014-05-22 04:42] #82 closed, assigned to sIKE23

[2014-05-22 04:42] #84 closed, assigned to sIKE23

[2014-05-26 18:44] sIKE23 opened #86 "Add Apprentice Spellbooks and Mages"
and the apprentice game board

[2014-05-26 19:05] sIKE23 opened #87 "Automate Bleed Tokens"
Almost time to create a Direct Damage Function.....

[2014-05-26 19:13] sIKE23 opened #88 "Add Dice Rolling Sounds"
I have had a request to add in dice rolling sounds...

[2014-05-26 19:26] sIKE23 opened #89 "Remap Shortcut Keys"
With us automating and automatically placing tokens many shortcuts are no longer are needed and there are other tokens/markers that need to be added with shortcut keys. I have been working with Schwenkgott to come up with the best placement of keys.

[2014-05-26 19:36] sIKE23 opened #90 "Show alt cards"
Most mages have alt images, it would be nice to be able to play the game with them. I also want to be able to show the non-errata version of errata'ed cards for reference purposes.

[2014-06-01 18:30] #19 closed, assigned to nobody

[2014-06-01 18:30] #52 closed, assigned to nobody

[2014-06-01 18:30] #77 closed, assigned to lettucemode

[2014-06-01 18:30] #85 closed, assigned to sIKE23

[2014-06-01 18:30] #86 closed, assigned to sIKE23

[2014-06-01 18:30] #87 closed, assigned to sIKE23

[2014-06-01 18:30] #88 closed, assigned to sIKE23

[2014-06-01 18:30] #89 closed, assigned to lettucemode

[2014-06-01 18:30] #90 closed, assigned to sIKE23

[2014-06-02 14:33] sIKE23 opened #91 "When spell is cast, change when it is revealed to after mana costs are paid"

[2014-06-02 17:01] sIKE23 opened #92 "Effect Die Dice Bank review"
Can I get you to look over the code work I did for the effect die and see if there is any reason people would be seeing multiple tie rolls for initiative.

[2014-06-03 02:35] sIKE23 opened #93 "SBB - Exporting Wizard Mages to MW SBB fails"
In the set.xml we have the Wizards elemental school of choice as (for example):

Wizard(Air)

the Mage Wars SBB import expects the formatting to be:

Wizard (Air)

I will look at the validation code in the SBB and in-game validator to see if adding this space in the set.xml file will fix this problem but not cause another.

[2014-06-18 14:36] #36 closed, assigned to lettucemode

[2014-06-18 14:42] sIKE23 opened #94 "Dice Roll Area showing twice"
If players have chosen different default locations both with show with each player using there chosen default.

Changed to a selection window with the winner of initiative choosing the location for both players.

[2014-06-19 01:22] #91 closed, assigned to sIKE23

[2014-06-19 04:47] #94 closed, assigned to sIKE23

[2014-06-19 04:48] #93 closed, assigned to sIKE23

[2014-06-23 20:46] sIKE23 opened #95 "Planning Phase Timer"
This is a request from Schwenkgott. He would like a timer during the planning phase of the game.

Here are my thoughts on the flow:

After initiative is determined pop a window asking if they would like to use a timer during the Planning Phase? If yes then ask how many minutes should the timer be set for. We then send these settings over to the remote player(s) if they agree then the timer will be

[2014-06-24 14:33] #92 closed, assigned to lettucemode

[2014-06-25 06:51] sIKE23 opened #96 "Use native OCTGN turn management"
a2e0561992bb6e6c6ba345dd9516a001f8298493

[2014-06-26 20:23] sIKE23 opened #97 "SBB - Feasibility of importing a AW SBB file into OCTGN's SBB?"
Is this even possible?

[2014-07-09 17:40] sIKE23 opened #98 "Automated Casting Costs"
Can the logic for casting spells handle:

2,x+7

That is 2 for casting cost and X+7 for the reveal cost?

[2014-07-12 17:45] sIKE23 opened #99 "SBB - New requirements for the Spellbook Builder"
We started getting the PvS stuff this past week. Here is what training looks like(for now):

See e-mail....

We can probably work these in this month and I can change them as needed...

[2014-07-20 20:47] #72 closed, assigned to sIKE23

[2014-07-20 20:47] #65 closed, assigned to sIKE23

[2014-07-20 20:48] #37 closed, assigned to lettucemode

[2014-07-20 21:52] sIKE23 opened #100 "Mage Death - Only prompt if the player wishes to continue during the Actions Phase"

[2014-07-20 22:21] sIKE23 opened #101 "Possible to roll a 13 on the effect dice"
Fixed changed rnd(1,12) to rnd (0,11) as when we use the random.org we also pull 0-11 and then add 1.

[2014-07-20 22:23] #101 closed, assigned to sIKE23

[2014-07-22 15:51] sIKE23 opened #102 "Add Dwarf Runes to his Stats Card"

[2014-07-22 15:51] sIKE23 opened #103 "Talos - when revealed his Action Marker should be Active"

[2014-07-22 15:55] sIKE23 opened #104 "Warlock (Arraxian Crown) - Add Bloodreaper Marker on Reveal"

[2014-07-26 13:58] sIKE23 opened #105 "General Signet Ring erroring on mana discount"

[2014-07-26 20:37] sIKE23 opened #106 "Eisenach's Forge Hammer not giving a casting discount"

[2014-07-27 01:08] #105 closed, assigned to sIKE23

[2014-07-28 14:30] sIKE23 opened #107 "Fix FiF Mages for AW SBB"
These mages need to export into the AW SBB format as:

Anvil Throne Warlord
Adramelech Warlock

Should we change ours to match to make it simple? I have already done some work for the August release and I don't think this will require a change in either the SBB or the in-game validator other than the work I have already done on that front.

[2014-07-30 05:41] sIKE23 opened #108 "August Release"
Can you compile the SBB for the August release

[2014-08-04 04:45] #60 closed, assigned to lettucemode

[2014-08-04 04:46] #96 closed, assigned to sIKE23

[2014-08-04 04:47] #106 closed, assigned to sIKE23

[2014-08-04 04:53] #107 closed, assigned to lettucemode

[2014-08-04 04:53] #104 closed, assigned to sIKE23

[2014-08-04 04:54] #103 closed, assigned to sIKE23

[2014-08-04 04:55] #100 closed, assigned to lettucemode

[2014-08-04 04:57] #108 closed, assigned to lettucemode

[2014-08-04 04:57] #102 closed, assigned to sIKE23

[2014-08-06 18:53] sIKE23 opened #109 "Mage Death - When one mage dies both players get a msg that their mage died"

[2014-08-13 05:38] sIKE23 opened #110 "SBB - Tune Clipboard Output"
Would like to see the output to the clipboard be more useful

Enchantment (total cost of Enchantments)
num in book - Spell Name - Spell Level - Spell Cost - Total Spell Cost

vs. the current

---  Enchantment  ---
num in book - Spell Name

So the result should look like in a Warlord book:

---- Enchantment (18) ---
1 - Fortified Position - 2 - 1 - 2
1 - Hawkeye - 1 - 2 - 2
2 - Retaliate - 1 - 1 -

[2014-08-17 14:16] sIKE23 opened #111 "SBB - Add installer for DLL"
Using the Nullsoft install system

[2014-08-20 06:48] sIKE23 opened #112 "Re-work CastSpell function and add in Magebind to casting costs"

[2014-08-21 17:56] sIKE23 opened #113 "Add better logic when a face up card is double click on"
Currently when this happens the CastSpell function is called. In MW typically there is no need to flip a card face down after it is cast. Change the prompt to ask if they really wanted to turn the card face down.

[2014-08-21 18:18] #98 closed, assigned to lettucemode

[2014-08-22 01:11] sIKE23 opened #114 "F2 & F4 - add & remove damage should apply the damage to a Mages stats"
When you press these keys and are working with a Mage Card damage should be applied to the me.Damage stat not create a Damage Marker on the Mage Card.

[2014-08-22 05:34] sIKE23 opened #115 "Wound Prey Marker not being added when Jokhtari BM is Revealed"

[2014-08-23 17:37] #115 closed, assigned to sIKE23

[2014-08-23 17:41] #114 closed, assigned to sIKE23

[2014-08-23 18:02] #109 closed, assigned to sIKE23

[2014-08-27 20:53] sIKE23 opened #116 "Change code to prevent players from placing Markers on Game Cards(Markers)"
Players can add markers to game markers (which are handled as cards in OCTGN) these markers include Vine Markers, Initiative Markers, etc.

[2014-08-30 05:54] #113 closed, assigned to sIKE23

[2014-08-30 05:55] #112 closed, assigned to sIKE23

[2014-08-30 05:56] #111 closed, assigned to sIKE23

[2014-08-30 05:57] #97 closed, assigned to sIKE23

[2014-08-30 06:26] sIKE23 opened #117 "Add Melee +1 Marker"

[2014-08-31 18:55] #117 closed, assigned to sIKE23

[2014-08-31 18:55] #116 closed, assigned to sIKE23

[2014-09-17 05:14] sIKE23 opened #118 "Set.xml clean up for Q4"
Fix Tataree as he is a QuickCast!

[2014-09-17 05:21] sIKE23 opened #119 "Automate Forcefield Tokens"
Player Request

[2014-09-18 05:48] sIKE23 opened #120 "Fix Casting Cost Discount Issue"
If a player chooses not to pay for a spell the has a Discount the code still marks the Discount as used. The same goes for if the player does not have enough mana to pay for the spell the code still marks the Discount as used.

Lines 1852 and 1857 have comments about this issue would you please replace them with the needed code.

[2014-10-01 23:00] #99 closed, assigned to lettucemode

[2014-10-01 23:03] sIKE23 opened #121 "Automate Upkeep Costs"

[2014-10-01 23:04] sIKE23 opened #122 "Automate Channeling Increases and Decreases for Mages"

[2014-11-29 20:26] sIKE23 opened #123 "Enchanters Ring Discount not implemented correctly"
Discount should be given during casting of the Enchantment instead of the reveal of the enchantment.

[2014-12-04 00:40] sIKE23 opened #124 "Domination Card Data"

[2014-12-04 06:58] #123 closed, assigned to sIKE23

[2014-12-18 18:33] anandaguneratne opened #125 "Expected Damage Module"
It is pretty easy to calculate the expected damage for an attack given the number of dice and amount of armor. Giving players the ability to check this (quickly, obviously) would help new and old players alike make smarter tactical choices.

Notes:
- It is essential that checking expected damage be very quick to do, so that players don't drag down games with calculations. The most promising method

[2014-12-18 18:39] ACG8 opened #126 "Select Dice Rolls via Buttons"
The current interface for declaring attacks requires the user to type in the number of dice they wish to roll. The process would be made faster if the user had the option to click on a button corresponding to the number of dice (with buttons ranging from 1 to 7).

Notes:
- This could be a feature that users could enable or disable in their preferences.
- The ability to type in a different number w

[2014-12-21 02:22] ACG8 opened #127 "Improve Documentation on OCTGN's Targeting Feature"
Currently, the only documentation on OCTGN's targeting feature (shift + drag arrow) is located in the "OCTGN Apprentice Mode" document, which bills itself as an alternative game type for new players. Since many of the players who are just learning to play Mage Wars on Octgn are likely to be veteran players from real-world games (who may not think to check the Apprentice Mode document), this is not

[2014-12-31 06:18] anandaguneratne opened #128 "Decrease time needed to start debug mode by autochoosing color"
Currently, testing new code and debugging is relatively painless, but it could be made even smoother. In particular, testing a new iteration in code requires starting a new game each time to test. By removing some of the choices from debug mode, the time needed to start a game could be reduced, allowing testing to happen faster and speeding up development of new code. It is also annoying to have t

[2015-01-01 01:41] anandaguneratne commented on #11
So, now that I can test multiplayer, I have run into a bizarre bug that prevents the alignment code from working properly when called using remoteCall(). It will take me a bit longer to figure out how to get around this.

[2015-01-01 16:04] lettucemode commented on #120
This issue should be resolved, let me know how testing goes

[2015-01-01 16:08] lettucemode commented on #127
Does the OnTargetCardArrow event not work as expected?  https://github.com/kellyelton/OCTGN/blob/master/octgnFX/Octgn.Library/Scripting/GameEvents.xml

[2015-01-02 02:47] sIKE23 commented on #120
Much closer, but got this weirdness. I pulled out an Enchantment to test Enchanters Ring and it included Eisenach's Forge Hammer though it shouldn't of.

![enchantment](https://cloud.githubusercontent.com/assets/5695175/5593960/2622e42c-91f7-11e4-8377-0a2603a39ffd.jpg)

[2015-01-02 02:48] sIKE23 commented on #120
Output from the Chat Window:

sike23 moves 'Retaliate' to Table
debug: Casting Cost:2 and Reveal Cost:2
casting discount testlist: ['Enchantment', '', 'War']
lines: ['Once per round, this Mage may pay 1 less mana when he, or a spawnpoint he controls, casts a soldier spell.\r\n', ' [1] [Soldier] [x1]']
cell entry: 1
cell entry: Soldier
cell entry: x1
cell entry:
testing req Soldier
casting discount

[2015-01-02 04:45] sIKE23 commented on #121
Think I got this working, Mordok's Obelisk and Mind Control (Upkeep +X) were the two corner cases that I discovered along the way.

[2015-01-02 04:52] sIKE23 commented on #110
Tested this and it looks good! Will put it through several more books, but I think it is what I wanted it to do.

[2015-01-02 05:47] anandaguneratne commented on #11
Let me know when you plan to issue the update. I am almost done with attachCards (just 2 obnoxious bugs to iron out), and will try to upload it as soon as it is in decent shape. (also, I don't want my data to be accidentally overwritten by the update.

[2015-01-02 18:52] sIKE23 commented on #120
This is a problem with the Dialog code for Discounts not an issue with your code in and of itself. I am trying to resolve.

[2015-01-02 21:22] sIKE23 commented on #120
Sat an looked at this for a couple of hours, no luck, I know what is happening, but I am not sure of how to resolve.... :(

[2015-01-02 22:50] anandaguneratne commented on #11
Okay, I just had a major breakthrough on the most critical bug, so the rest of the work I need to do is just fixing little quirks (which shouldn't take very long). I guess what I am saying is: hold off for a bit on the update, because I can make it a lot more interesting.

[2015-01-03 00:36] anandaguneratne opened #129 "Change Two-Sided Table so that card orientation is based on viewer, not position"
The current implementation of Two-Sided Tables reverses cards that cross the center line. This works for games without a spatial component, in which the side of the board nearest to you belongs to you, but does not make sense in Mage Wars, in which cards are free to move about the entire board. In real life, cards are typically oriented toward oneself. Therefore, I propose that the Two-Sided Table

[2015-01-03 00:56] sIKE23 commented on #129
This would have to be done in OCTGN itself not the Mage Wars Module. The game currently turns off two-sided tables in the game definition, as playing two-sided really sucks.

[2015-01-03 01:45] anandaguneratne commented on #129
I think we could probably work around the Octgn code.

[2015-01-03 02:10] anandaguneratne commented on #11
All right, the attachment code is good to go. The last significant remaining issue with it is that selecting and moving a stack of cards causes weird behavior; I have opened an issue on this problem on the main OCTGN issues page (https://github.com/kellyelton/OCTGN/issues/1348).

The main characteristics to note are:
-----
Features:
- The attachments of each card are preserved in the order in whic

[2015-01-03 02:27] anandaguneratne commented on #11
And it's committed! Let me know what you think.

[2015-01-03 02:32] sIKE23 commented on #11
To what branch?

On Fri, Jan 2, 2015 at 8:27 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-03 02:33] anandaguneratne commented on #11
Ok, I think I made a mistake the first time I committed it. Might have sent it to the master branch. I think I have fixed that.

[2015-01-03 02:33] anandaguneratne commented on #11
Do I need to click 'sync'?

[2015-01-03 02:34] sIKE23 commented on #11
Yes....that commits it to the repository....

On Fri, Jan 2, 2015 at 8:33 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-03 02:37] anandaguneratne commented on #11
Okay, I think I got it. Do you see the changes?

[2015-01-03 02:41] sIKE23 commented on #11
Yes I see the changes, I am trying to figure out what happened to
actions.py. There are a lot of changes.....

//FC

On Fri, Jan 2, 2015 at 8:37 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-03 02:42] anandaguneratne commented on #11
Looking at the changes, I just realized that I was not working from the file that was in the attachCards branch, but from some other file (v2.8.1.3). So most of the changes in actions.py are irrelevant.

[2015-01-03 02:49] sIKE23 commented on #11
Ok, that makes a bit more sense....gonna have to dig through and figure out
what needs to be done...

On Fri, Jan 2, 2015 at 8:42 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-03 02:50] anandaguneratne commented on #11
I'm going to revert the changes and insert the relevant ones back in.

[2015-01-03 03:04] anandaguneratne commented on #11
Okay, I just committed changes based off of the correct version. I'm going to test them out, to be sure, but it should be clearer what has been done now.

[2015-01-03 03:20] anandaguneratne commented on #11
Well, after that last commit, some aspects of the attachCards module are no longer working as intended. I'm not sure why. I'm going to have to take another look at the differences.

[2015-01-03 03:22] sIKE23 commented on #11
ACG,

Ok, that is always the fun part of GitHub that I try to shield you from as
much as I can. If we want to merge the work from the Master branch in that
of the AttachCards branch we will have even more fun.

//FC

On Fri, Jan 2, 2015 at 9:20 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-03 03:47] sIKE23 commented on #11
I pulled your bits out and put it into the actions.py that I have been
working with. The attachment stuff works for me.

On Fri, Jan 2, 2015 at 8:27 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-03 09:44] anandaguneratne commented on #11
Okay, I figured out the reason I was having trouble reproducing the earlier results after your update, and it is pretty silly; after finalizing the code the first time around, I immediately switched my OCTGN filepath back to my non-dev directory (I was afraid an update might wipe my directory), and then promptly forgot that I had done that. So, as you say, the attachment stuff all works! (apart fr

[2015-01-03 11:57] anandaguneratne opened #130 "flipcard() does not work on "Vine Snapper""
In the master branch:

If you attempt to execute flipmarker() on, for instance, a Vine Snapper, it will notify:
"{me} flips Vine Marker" and not do anything (in other words, it is not possible to flip Vine Snapper).

This is caused by actions.py lines 1368-1373, which read:
	if "Vine" in card.Name and card.controller == me:
		if card.alternate == "B":
			card.switchTo("")
		else:
			card.switchTo(

[2015-01-03 12:17] anandaguneratne opened #131 "Card image for Togorah is incorrect"
The card image used for Togorah, Forest Sentinel lists his level as 7, when it is actually 6. I think the image is the one used in one of the previews before the release of Druid v. Necromancer.

[2015-01-03 13:08] anandaguneratne opened #132 "Simplify code by replacing elif lists with dictionaries"
Dictionaries are more elegant/concise and easier to read,modify, and expand than long elif lists. See https://github.com/sIKE23/Mage-Wars/commit/88718ce37b2fad90fb0522aa2231bac74f2ce74a for an example of how this can be implemented.

Benefits:
- Code takes up less space and is easier to read
- Easier to expand to include more cases

[2015-01-03 13:45] anandaguneratne commented on #128
https://github.com/sIKE23/Mage-Wars/commit/88718ce37b2fad90fb0522aa2231bac74f2ce74a implements auto-choosing color. Quick-loading a deck will take a bit more work, and may not be possible with the available tools (but I am not ready to give up just yet).

[2015-01-03 16:05] sIKE23 commented on #132
I like the Player Color code change.

[2015-01-03 16:15] sIKE23 commented on #128
I like this. Once we get the Q1 release finalized, I will fork the code and create a Q1-2015 fork and you can work in that.....

[2015-01-03 17:20] sIKE23 commented on #131
Fixed, both image packs have been updated

[2015-01-03 21:54] anandaguneratne commented on #128
Okay. I assume for now I just work in the master branch, then?

[2015-01-04 00:09] anandaguneratne commented on #125
The code for computing expected damage and chance to kill is complete; now it just needs to be integrated into the octgn module. See https://github.com/sIKE23/Mage-Wars/commit/d85938a4c909c76fedacf52b711c42830d46819b

[2015-01-04 01:34] anandaguneratne opened #133 "Error raised when dice are rolled before deck is loaded"
If you roll dice immediately upon entering the game, it raises an error:

line 314 in rollDice
NameError: global name 'dieCardX' is not defined

This is because dieCardX is only defined when a player's deck is loaded, via onLoadDeck()>AskDiceRollArea()>setDRAIP

[2015-01-04 03:44] sIKE23 commented on #133
Do you think we should just add a check in and if dieCardX  is Nul we prompt with please Load a Deck msg?

[2015-01-04 03:46] sIKE23 commented on #128
Can you create your own fork off of master? That way I can Cherry-Pick over
into Master.......

On Sat, Jan 3, 2015 at 3:54 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-04 03:54] anandaguneratne commented on #133
Yes, that would probably work. Though it would be nice to be able to roll dice before the game (I can't think up a reason, but I am sure somebody will want to at some point. Maybe some variant where you randomly determine your deck?)

[2015-01-04 03:54] anandaguneratne commented on #128
Sure, I have done that.

[2015-01-04 03:55] sIKE23 commented on #133
We do have a coin flip for that......or did I take it out?

On Sat, Jan 3, 2015 at 9:54 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-04 03:57] sIKE23 commented on #128
The main reason for that, is that I want to push out a release very soon
but don't want to mush your inspired work, if you want you could name it
Q1-2015 and that way we can merge that into master once we release and run
bug free and freeze the 1.11.x.x code.....

On Sat, Jan 3, 2015 at 9:54 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-04 04:21] anandaguneratne commented on #128
Ah. Well, I already named it ACG's branch. Is it possible to change the name after creating the branch?

[2015-01-04 04:27] sIKE23 commented on #128
Easiest is to create a new branch off of the ACG's-Branch and name it what
you want and then delete the ACG's-Branch.....

//FC

On Sat, Jan 3, 2015 at 10:21 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-04 09:55] anandaguneratne commented on #125
The expected damage module is integrated into OCTGN! (see https://github.com/sIKE23/Mage-Wars/commit/a8ef7afdd79c0f189c9faaa74757199c71f8135e) Also, I don't know if this is relevant to what you are doing, but the getStat() function did not work due to using the wrong delimiter, so I fixed it. There is still a lot of work to be done fixing anticipated bugs with this module of course - at the moment

[2015-01-04 09:57] anandaguneratne commented on #11
Thinking about how the code for this works, I suspect there might be a multiplayer bug in which card alignment fails for 3 or more players under certain arrangements of cards. Once I have a chance, I'll test this and report back.

[2015-01-04 13:24] anandaguneratne commented on #11
Just tested it. As I thought, in a 3 player game the alignment function will occasionally misorder the stack of attached cards. This is not a huge bug, (won't crash or break the game), and most players will not even notice it since multiplayer games are relatively rare. Still, it will need to be addressed at some point. I am not sure how to fix it at the moment, but I'll think on it (and create a

[2015-01-04 13:28] anandaguneratne opened #134 "AttachCards alignment function may misorder cards in multiplayer games"
Due to the way the attachCards alignment function works, if there are more than 2 players, it is possible to have an ordering of cards in which P2's cards are assigned indices that depend on P3's indices before P3's indices are assigned. For example, if the enchantment stack is (by card controller):

P1
P2
P3
P2

P1's card is assigned first, then P2's cards are assigned, but since P3's card has no

[2015-01-05 06:08] sIKE23 commented on #133
We can fix the bug, and next release look at re-examining how dice are handled. How does that sound?

[2015-01-05 06:48] sIKE23 opened #135 "Simplify Repetitive Sections of Code"
Something other than foo :+1:

[2015-01-05 06:50] sIKE23 commented on #126
Was testing this and it broke the automation for auto-ini......

[2015-01-05 14:35] anandaguneratne commented on #126
I'll take a look.

[2015-01-05 19:02] sIKE23 opened #136 "Add logic to Automate Upkeep for Psi-Orb"

[2015-01-05 19:03] sIKE23 opened #137 "Set.xml clean up for Q1--2015"
This is where we will log issues with card data and card art.

[2015-01-05 21:44] sIKE23 commented on #134
Here is the bug to resolve for OCTGN.

https://github.com/kellyelton/OCTGN/issues/1348

[2015-01-05 21:45] sIKE23 opened #138 "Add ability to anchor card to table top so it is unmovable"
https://github.com/kellyelton/OCTGN/issues/1349

[2015-01-05 22:47] anandaguneratne commented on #134
That is a different bug than the one referenced in this issue; that bug deals with what happens when you group select and move a stack; this one deals with what happens when 3 or more players have cards attached to the same card.

[2015-01-05 23:44] sIKE23 commented on #134
Ok sorry about that if there is not an issue on this open it and please
correct my mistake, you know much better than I do....

//FC

On Mon, Jan 5, 2015 at 4:47 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-06 00:00] ACG8 opened #139 "Dragging a stack of attached cards causes them to reattach to each other"
If you select a card and multiple attached cards (by dragging a box around them), dragging the stack will cause the attached cards to detach and re-attach to each other.

See https://github.com/kellyelton/OCTGN/issues/1348

[2015-01-06 00:00] anandaguneratne commented on #134
Opened an issue here: https://github.com/sIKE23/Mage-Wars/issues/139

[2015-01-06 00:37] anandaguneratne commented on #134
This issue should be fixed by this updated: https://github.com/sIKE23/Mage-Wars/commit/6d83d2a917a17a760182ab5f50279a8827f483a0

[2015-01-06 03:19] sIKE23 commented on #126
Was working on getting some buttons working, and this code was still in, when I select a Dice Number it rolls the number of Dice selected -1.

[2015-01-06 03:19] anandaguneratne commented on #11
The behavior when removing a card from the board is greatly improved with https://github.com/sIKE23/Mage-Wars/commit/6127b05f0fe582b5d8c66cef2a4e18d29ed6ec8f. Previously, it simply stacked all attachments in the center of the board; now, it separates them according to controller and stacks them neatly in front of their controllers (just above the place where double-clicking will autoplace a card).

[2015-01-06 03:34] sIKE23 commented on #126
I am thinking about adding a button that you double click on to roll the dice.

[2015-01-06 05:18] anandaguneratne commented on #126
That's good. Definitely an improvement.

[2015-01-06 06:41] sIKE23 commented on #125
Very slick! Like this very much, what do you think of the text formatting?

[2015-01-06 06:44] sIKE23 commented on #126
Also fixed the menu items roll now roll the proper number of dice and if the dialog box is canceled out of we no long roll the dice (changed if count == from None to 0)

[2015-01-06 06:47] sIKE23 commented on #133
Thinking that we can move the Dice Rolling Area location selection into the RollDice definition. This was the very first Python I learned. That is why it is so spaghetti like.

So my only thought is that the first person to press F1 should get to make the choice?  Not sure of "when" during the game setup process we should do this......

[2015-01-06 14:07] anandaguneratne commented on #133
Why do we offer a Dice Rolling Area location selection, anyway? Does anybody choose the area below the board? I always choose the one on the side, because there is so much more horizontal space than there is vertical space.

What if you autoset the dice roll area, and give players the option to change it if they want to? That way it can be set onGameLoad.

[2015-01-06 14:23] anandaguneratne commented on #125
Text formatting is nice; I was thinking that it would be nice to make the buttons larger. I wish we could change the font to make it larger.

Also, the button to roll dice is great, but I can't see the graphic.

The attachCards module does not appear to be integrated into Q1 - 2015; is this the case?

[2015-01-06 15:08] sIKE23 commented on #125
You will find the button under the ImageDatabase folder in the Core set
(starts with eb) Cards folder.

I merged the Master Branch into Q1--2015 and didn't really see any
differences....I will look at it in a bit to see if I can figure out what
has happened.

//FC

On Tue, Jan 6, 2015 at 8:23 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-06 15:18] sIKE23 commented on #133
ACG,

This was a feature request from Schwenkgott and Charmyna. You can not make
it a setting Automation like setting that you check for because then
players can have different preferences and you will end up with both. I
like your suggestion but lets hold off until the 60% goal is met, lets hope
very soon! I want to change the dice roll graphic and add a "Next Phase"
button and all three of these

[2015-01-07 00:57] anandaguneratne commented on #11
https://github.com/sIKE23/Mage-Wars/commit/c82d09fd6a214817e49feb42a14c4dc9219c6742 fixes the master branch so that attachments work. Now I just need to do the same for Q1 -- 2015.

[2015-01-07 01:36] sIKE23 commented on #11
Done...

On Tue, Jan 6, 2015 at 6:57 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-07 01:48] anandaguneratne commented on #11
Great! Everything seems to be working.

[2015-01-07 01:49] anandaguneratne commented on #11
Oops! I accidentally clicked close and comment.

[2015-01-07 01:53] anandaguneratne opened #140 "Refining attachment restrictions - Q1-2015"
Right now, the standards for what can be attached to what are pretty loose; certain conjurations, all enchantments, and all equipment can be attached to just about everything, and pretty much anything can be attached to spellbind, familiar, spawnpoint, and mage-stats cards (to allow players to indicate which spells are prepared or what equipment is attached to their mage). Refining these restricti

[2015-01-07 01:57] sIKE23 commented on #140
Good questions! I would think that we can do this for Q1-2015. I would like to see Spellbind tackled first, and then if we can come up with a generic way (maybe a dictionary of "Types of Targets") to enforce targeting I think that would be cool, but yes it can be a rabbit hole if we let it be......lets start small and build from there.

[2015-01-07 03:07] sIKE23 opened #141 "Cleanup Game Setup and Player Intialization"
Looking at the code as it exists today, I think we should take a look at cleaning/refining/reducing how all of this is handled, Ideas, suggestions?

The Roll Dice button needs to be created only once......

[2015-01-07 03:13] anandaguneratne commented on #141
Well, first of all, I think reducing the number of choices would be a good idea. Better to make assumptions and then allow players to change things later for options that don't really affect the game (e.g. dice roll area, player color, etc.). If you don't want both players to be able to change things, we could have only the player who started the game be able to decide (if OCTGN has a way to give

[2015-01-07 03:27] sIKE23 commented on #141
I do like and think that players should be able to choose their color just like you can in real life. As for other items I think that we can pick defaults. Initiative is done as per the rules, i.e. winner chooses who goes first.

OCTGN really doesn't have the concept of the game owner or the player that started the game :(.

I was just thinking that we "setup" the table after the player color is c

[2015-01-07 07:28] #134 closed

[2015-01-07 07:41] ACG8 opened #142 "Manual Reset followed by loading a deck triggers another reset"
If you first manually reset the game and then load a deck, you get the message "{} has attempted to load a second spellbook, the game will be reset", and then the game is reset again.

Obviously not high priority, but also obviously a bug.

[2015-01-07 07:46] ACG8 opened #143 "Use initiative token as a button to advance to next phase."
Currently, the initiative token does not do anything if you double click on it. Why not turn it into a button that signals you are ready for the next phase? (like ctrl+down) I suppose the sign that indicates the current phase might make more sense, but the initiative token looks more like a button.

[2015-01-07 10:16] anandaguneratne commented on #141
Okay, here's a thought: game settings persist between games. So what if we allow players to select their preferences, store them, and then automatically apply them in each subsequent game (until they change them).

So for example, a player might store as a setting that he wants the dice roll area to be to the side. Then, in every game after that (unless he changes it), if he is determined to be th

[2015-01-07 14:59] sIKE23 commented on #142
I was looking at this last night when my brain got tired. This should be one of the items fixed in the #141 category.

[2015-01-07 15:02] sIKE23 commented on #143
Interesting idea, the question is since this changes from Round to Round will it still work as we want it to? If this doesn't work out I was going to create a button to advance to the next phase.

[2015-01-07 15:09] sIKE23 commented on #141
Ok, when would we ask this question? I like this idea....

[2015-01-07 23:16] ACG8 opened #144 "Battle Calculator and Dice Roll Menus"
I have programmed the rudiments of what will be code that tailors an attack roll to the creature attacking and the one defending. Now, it only remains to improve upon it. The commit that defines the basics is here: https://github.com/sIKE23/Mage-Wars/commit/34f2c64256672127110c8e499c8f8974d2b30dd0

Here are some immediate things that I want to work on with this:
- Allow similar functionality when

[2015-01-07 23:21] anandaguneratne opened #145 "Switch Dice Roll Shortcut to <TAB>?"
Currently, the Dice Roll shortcut is set to <F1>. Since dice rolling is perhaps the most common thing players will need a shortcut for, we want it to be an easy one. F1 is a small key, and on some computers (like mine) requires an additional <fn> keypress. The <TAB> key is significantly larger, more conveniently positioned (the left hand ring finger has no trouble finding it), and easier for new p

[2015-01-07 23:24] anandaguneratne commented on #145
Also, I am using TAB for the new targeted attack rolls. I don't know if you can use the same shortcut for two actions (though they are different types whose menus do not overlap), but if so that would be really cool; TAB when hovering over the table for a generic dice menu and TAB when hovering over a creature for a targeted dice menu.

[2015-01-07 23:25] anandaguneratne commented on #144
Oh, and I completely forgot one of the really big improvements:
- Detect bonuses to creature when computing its attacks, including bonuses from attached enchantments.

[2015-01-08 00:31] anandaguneratne commented on #144
https://github.com/sIKE23/Mage-Wars/commit/75c1b64c70182190341ff44a8706b6668fc4b393 consolidates all the dice menus into a single function.

[2015-01-08 01:36] sIKE23 commented on #145
When you don't have you pointer over a card Tab tabs through Game, Game Documetns, Options, Etc menu.....

[2015-01-08 01:37] sIKE23 commented on #145
I have tried in the past to just use Unshifted Keys with no luck, like I wanted next Phase to be "Enter" but that didn't work out :(

[2015-01-08 01:38] sIKE23 commented on #145
How is this going to work with the proposed Roll Dice button?

[2015-01-08 01:42] sIKE23 commented on #144
Why aren't you using:

<event name="OnTargetCardArrow">     <param name="player" type="Player"/>
    <param name="fromCard" type="Card"/>     <param name="toCard" type="Card
"/>          <param name="
isTargeted" type="bool"/> </event>

On Wed, Jan 7, 2015 at 6:31 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-08 01:42] anandaguneratne commented on #145
Try out the my latest commit and see; TAB works unshifted (I don't know about other keys, though).

I don't think this changes the roll DIce button at all - that is basically just a generic roll dice, rather than a targeted one.

[2015-01-08 01:43] anandaguneratne commented on #144
Oh...That is a REALLY good idea...

[2015-01-08 03:39] anandaguneratne commented on #144
https://github.com/sIKE23/Mage-Wars/commit/6c3aeabc5f475ea39b97869460a3ed3f3d6f5853 provides the first feature: support for attack spells.

[2015-01-08 04:03] sIKE23 commented on #144
Wouldn't you, when the event is triggered, then check to see if <TAB> has
been pressed?

On Wed, Jan 7, 2015 at 8:53 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-08 06:08] sIKE23 commented on #141
How about I create another Initiative Token color that we use during game setup and then change once we get the color selection done. This way we can create all of the buttons and game icons in one pass during OnTableLoad or OnGameStart.

[2015-01-08 09:39] anandaguneratne commented on #144
No, I think the onTargetCardArrow just means when you draw an arrow it is triggered. No checking for TAB; that is a separate trigger.

[2015-01-08 10:26] anandaguneratne commented on #144
Mages are integrated now, and attacks from equipment! See https://github.com/sIKE23/Mage-Wars/commit/97503dd8b083661443314e57634bbc518e762143. Also, the attackTarget function announces how much damage it thinks the attack did, and whether this amount is above or below average for that attack (to help with Temple of the Dawnbreaker/Akiro's Favor decisions).

[2015-01-09 00:30] ACG8 opened #146 "Update the text fields of all cards to give traits provided in square brackets"
At the moment, coding for detection of traits means going through the list of all attached cards and giving traits based on the names of the cards (e.g. 'Storm Drake Hide' means +2 armor). It would be a lot easier if each card had as a property a list containing all the traits that it granted to the card to which it was attached (call it AttachTraits or something). Obviously, this would require go

[2015-01-09 01:06] sIKE23 commented on #146
Most cards that grant these traits have in the "Text" Field the trait in
Square Brackets. So open up the SBB and in the search field, select Text
and then use a "[" as the search term.

Now there are items that are straight forward, ie armor +1 = [Armor +1] and
then there are the All (Friendly/Enemy) creatures in the zone gain Armor
+1, I have never come up with a good solution.

I am not that opp

[2015-01-09 01:26] anandaguneratne opened #147 "Inconsistent data formatting in Attack Bar"
In some sets (such as druid v. necromancer), there is a space separating the end of an attack from the start of the next. For instance, the Acolyte of the Bog Queen uses:

property name="AttackBar" value="Sacrificial Knife:\&#xD;\&#xA;[Quick] [Melee] [Dice=2] \&#xD;\&#xA;Repair Bones:\&#xD;\&#xA;[Full] [Ranged:0-1] [Reconstruct 2 damage from target skeleton object.] \&#xD;\&#xA;Vigor of the Grave:

[2015-01-09 01:33] anandaguneratne commented on #146
Oh, that is a good idea. So you would leave it in the text field, but tag the desired traits?

So, for example, Barkskin, which currently reads

<property name="Text" value="Mage gains Armor +2 and Regenerate 2." />

Would be changed to

<property name="Text" value="Mage gains [Armor +2] and [Regenerate 2]." />

Right? We would also need to change the parsing script for proxy generation to elimina

[2015-01-09 01:35] anandaguneratne commented on #146
Oh, I see that this is already implemented

[2015-01-09 01:37] anandaguneratne commented on #146
We will still need to update a lot of cards, though. Not all traits are represented.

[2015-01-09 01:43] anandaguneratne commented on #146
So, for instance, we want

\<property name="Text" value="Mage gains Armor +2 and Regenerate 2." />

To become:

\<property name="Text" value="Mage gains Armor +2 and Regenerate 2.&#xD;&#xA;[+2 Armor] [Regenerate 2]" />

[2015-01-09 02:18] sIKE23 commented on #146
Right I have been slowly filling in that data, the problem is on group effects, how would you represent them? [GroupTrait] [Friendly] [Armor +1]

Do we need to go back and change plain old Armor +1 [IndividualTrait] [Armor +1]

<property name="Text" value="Mage gains Armor +2 and Regenerate.&#xD;&#xA;[+2 Armor] [Regenerate 2]" />

Is correct....

[2015-01-09 02:21] anandaguneratne commented on #146
For now, we don't. We have no way to represent group effects anyway, since zones are not defined. We should just focus on individual effects.

[2015-01-09 02:32] sIKE23 commented on #146
Any update to card data should be logged against #137

On Thu, Jan 8, 2015 at 8:21 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-09 02:43] anandaguneratne commented on #146
All right, got it.

[2015-01-09 05:03] anandaguneratne commented on #137
Fixed attack bar formatting errors in Giant Wolf Spider and Goblin Alchemist here: https://github.com/sIKE23/Mage-Wars/commit/0523d231775ca115fcdda7dbfecfa6f40b0bd79b

[2015-01-09 05:05] #147 closed

[2015-01-09 06:36] sIKE23 commented on #144
This is some really slick work! I like the Tab key.......

[2015-01-09 07:58] anandaguneratne commented on #144
The attack buttons now display information on attack traits and effects (and the probability of each effect).

[2015-01-09 08:47] anandaguneratne commented on #145
https://github.com/sIKE23/Mage-Wars/commit/63276a86f5c202a83266b18125cab0bbc8e15912 implements TAB as the all purpose dice rolling key. It turns out you can indeed have the same hotkey mapped to both a group action and a card action. Even better, the card action takes precedence. So if you press TAB while your cursor is hovering over a card, you get the attack menu for that specific card, whereas

[2015-01-09 08:48] anandaguneratne commented on #144
Glad you like the TAB key. https://github.com/sIKE23/Mage-Wars/commit/63276a86f5c202a83266b18125cab0bbc8e15912 implements TAB for all attack rolls, now.

[2015-01-09 14:32] ACG8 opened #148 "Add Ranged +1 Markers"
There are Melee +1 markers, but no Ranged +1 markers, even though the latter exist in real life. Would be nice to have.

[2015-01-09 15:07] anandaguneratne opened #149 "Move attack/rollDice code to separate file along with Probabilities file"
The attacking/dice rolling code is starting to become unwieldy. I think it might be a good idea to move it to its own file and also move the probabilities stuff to that file. What do you think? Since we don't have to import files, there shouldn't be any bugs resulting from such a move.

[2015-01-09 15:42] sIKE23 commented on #149
Sounds great!

[2015-01-09 15:45] sIKE23 commented on #145
Can we leave F1 as on option and make both work the same, some people have been playing for over 2 year and they may not be too happy. I am not asking if it is possible look at Next Phase, both CTRL+Down Arrow and CTRL+Enter change to the next phase.

[2015-01-10 00:54] #149 closed

[2015-01-10 01:13] #145 closed

[2015-01-10 01:15] anandaguneratne commented on #148
Nice. But can we call them "Ranged +1" as opposed to "Range +1"? That way we are less likely to get confused later, since "Ranged" is how MW refers to the trait.

[2015-01-10 07:37] sIKE23 commented on #11
This is not working in the Master Branch

[2015-01-10 07:39] sIKE23 commented on #11
Never mind

[2015-01-10 07:57] sIKE23 commented on #140
First thing I think I would like to see is when you attach a facedown enchantment to a card it triggers the castspell function for the Enchantment and prompts the player to pay the two mana.....

[2015-01-10 07:59] sIKE23 opened #150 "A Disable Marker should be deleted from the card it is attached to during Upkeep"
Request from Murphy

[2015-01-10 08:04] sIKE23 commented on #140
Also you shouldn't be able to attach to a Facedown card, which should be easy to add in the a card.isFaceUp

[2015-01-10 08:05] sIKE23 commented on #140
We need a menu item detach card if feasible and reasonable....

[2015-01-10 08:06] anandaguneratne commented on #140
Sure. I'll look into those.

[2015-01-10 08:11] sIKE23 commented on #11
Send to Front/Send to Back (Page Up/Page Down) have some weird and unintended interactions with card attachments. Nothing we have to solve for this release, but we an issue we found.

[2015-01-10 08:28] anandaguneratne commented on #140
Two down, one to go. Though I am not certain that the menu detach card item is necessary - simply clicking and dragging is enough to detach a card, so who would go to the trouble of pressing a shortcut key? Regardless, the option is there now.

[2015-01-11 02:41] anandaguneratne commented on #132
Subsumed by https://github.com/sIKE23/Mage-Wars/issues/135; we don't need two separate issues.

[2015-01-11 02:41] #132 closed

[2015-01-11 03:16] sIKE23 commented on #140
There is a function that is called castSpell that you might want to look at to integrate this code with, it is the part that calls the discounts.

[2015-01-11 04:04] anandaguneratne commented on #140
Yes, I considered that (and based the code off of it); I'll see if I can combine the two, then.

[2015-01-11 06:41] sIKE23 commented on #11
I am happy with this for this release, closing out! Great work!

[2015-01-11 06:41] #11 closed

[2015-01-11 06:42] sIKE23 commented on #118
Closing

[2015-01-11 06:42] #118 closed

[2015-01-11 06:52] sIKE23 commented on #110
Closing

[2015-01-11 06:52] #110 closed

[2015-01-11 06:53] sIKE23 commented on #131
Closing

[2015-01-11 06:53] #131 closed

[2015-01-11 07:07] sIKE23 commented on #133
Fixed and Closing

[2015-01-11 07:07] #133 closed

[2015-01-11 07:07] sIKE23 commented on #120
Fixed and Closing

[2015-01-11 07:08] #120 closed

[2015-01-11 07:09] sIKE23 commented on #119
Done and closing

[2015-01-11 07:09] #119 closed

[2015-01-11 07:13] sIKE23 commented on #130
Fixed and Closing

[2015-01-11 07:13] #130 closed

[2015-01-11 08:29] ACG8 opened #151 "Improve Attachment Behavior"
Many of the tasks associated with automation benefit from our new ability to tell which cards are attached to a card, the most obvious being the automation of harmonize. We should update other such interactions to take attachments into account.

[2015-01-11 09:10] anandaguneratne commented on #146
One formatting note:

I am building a function that looks at a card and calculates all of the traits it has. I also want to consider traits that are given to the attack on a card. For this purpose, I would like to treat traits like Piercing and Vampiric that modify attacks as traits possessed by creatures.

For instance, I would like Lion Savagery to give the Piercing +1 trait to the creature, rat

[2015-01-11 09:50] anandaguneratne commented on #146
Also, for the sake of uniform parsing, we have a problem with things like fireshaper ring that are labeled [Flame] [Melee +1] [Ranged +1]. It would be better to make up a trait, such as [Flame Attack +1]. Or, better yet (as I will note below), not even have a trait at all for non-standard bonuses. Otherwise, we can only compute such traits when actually declaring an attack, and I want to centraliz

[2015-01-11 17:16] sIKE23 commented on #146
I have written a function that looks for the name of a trait you passed it already, getTraitValue it is used to Automate Upkeep and Channeling at this point. I don't know how useful it would/will be to you, but it is there. Do what you would like with it if need be but

I am not sure of what the issue is with Fireshaper ring and all there of the items you refer to are in the codex. There is nothin

[2015-01-11 17:43] sIKE23 commented on #151
I am not sure why Cosworth excluded the Mage from Harmonize. Should be simple:
else:
if c2 and 'Channeling' in c2.Stats and c2.Type==  "'Magestats": #Exclude mages
                                me.Channeling += 1
                                whisper("Mana added to {} from {}".format(c2,c))

Logic will need to be added to remove the Channeling boost if the card is detached from the mage also.

[2015-01-12 00:41] anandaguneratne commented on #146
Your getTraitValue function works for some things; I just want to make something more general that can read any trait.

[Flame] is parseable, the problem is that [Flame] [Melee +1] is easy to read as Flame,Melee +1. I could probably work with that (using the same method that I used to detect d12 effect rolls), but I don't think this is necessary, because there are so few cards that boost only one

[2015-01-12 00:45] anandaguneratne commented on #151
Regarding placement of enchantments to the side of the board:

Currently, there is no good way to detect enchantments that are not attached to anything. It works with equipment because equipment is always attached to your mage (so you can just search the table for face-up equipment), but there are numerous reasons why an enchantment might be face-up.

Once we can define zones, we can solve this pr

[2015-01-12 00:46] anandaguneratne commented on #151
As for forcefield tokens, I suppose you could put them on the mage/magestats.

[2015-01-12 01:40] sIKE23 commented on #121
Closing

[2015-01-12 01:40] #121 closed

[2015-01-12 07:09] sIKE23 opened #152 "Card Stats"
Right now card stats (Armor, Life, Channeling, Defense) are stored as a single string. If we want to manipulate these stats, they will need to be setup (At least Life, Armor, Channeling) as there own stat with the type integer. Is this something we are headed towards? It would look something like:

[code]

[2015-01-12 07:22] sIKE23 commented on #152
Well just found out these integer fields are RO

[2015-01-12 09:33] anandaguneratne commented on #152
Not sure what RO means (read only?), but I don't think we want to do this. Much better to evaluate stats at runtime than to store changes, since that would require updating the stats when the source of the change is removed.

The computeTraits function is already designed to pick up boosts to channeling and so forth. If we just run everything through that function, we should be fine. (for instance

[2015-01-12 15:13] sIKE23 commented on #152
Agreed!

[2015-01-12 15:13] #152 closed

[2015-01-12 15:53] sIKE23 commented on #151
On Attachment spacing, Schwenkgott came up with what I think is the proper abount of overlap, just a little bit more space between each card so we can read the mana cost and target line.

[2015-01-12 19:13] sIKE23 commented on #136
Have to pull this into the EOY release and split off the Mana Syphon for the Q1 release.

[2015-01-12 19:13] sIKE23 opened #153 "Add logic to Automate Upkeep for Mana Prism"

[2015-01-13 00:15] anandaguneratne commented on #151
Okay, I'll change that.

[2015-01-13 00:16] anandaguneratne commented on #153
This is more of an XML thing than anything else, but isn't it "Mana Siphon"?

[2015-01-13 01:05] sIKE23 commented on #153
But it snags Upkeep costs .......

[2015-01-13 03:23] anandaguneratne commented on #153
I don't understand. Do you mean that 'Siphon' is currently used as a tag in some function that evaluates upkeep costs?

[2015-01-14 03:04] sIKE23 commented on #136
Done and closing.

[2015-01-14 03:04] #136 closed

[2015-01-15 01:10] ACG8 opened #154 "AutoRollInitiative does not work if game is reset"
If you reset the game by loading a second deck, autoRollInitiative does not trigger in the reset game.

[2015-01-15 01:12] ACG8 opened #155 "AutoRollInitiative takes a long time"
Maybe there are reasons why this can't be fixed, but in debug mode (and possibly in multiplayer, though I haven't tried it yet), autoRollInitiative takes a noticeably long time to resolve (there is a significant pause). Is there any way to reduce this time?

[2015-01-15 01:37] sIKE23 commented on #155
Honestly this was bolted onto the script. I have been looking at it, but it digs over into multiplayer support which I am afraid of breaking. I will study it a bit here soon and see why it takes so long.

[2015-01-15 01:51] anandaguneratne commented on #126
I think this is entangled enough with #144 that we don't really need a separate issue.

[2015-01-15 01:52] anandaguneratne commented on #125
I think this is entangled enough with #144 that we don't need a separate issue.

[2015-01-15 01:52] #125 closed

[2015-01-15 04:37] sIKE23 commented on #143
It will work as long as the GUID on the marker stays the same. What about to phase marker(s) instead of the initiative marker(s)?

[2015-01-15 05:22] sIKE23 commented on #143
Or we can do both :)

[2015-01-15 08:50] anandaguneratne opened #156 "Game ignoring group and card actions"
Something is wrong. I can't roll dice at all, even by right clicking and selecting the option. It won't even register the fact that I called the rollDice function (I added a debug line just to see). Could one of your most recent changes have caused this? Let me know if you are having the same problem.

[2015-01-15 10:05] anandaguneratne commented on #156
Actually, it is not just the dice. None of the actions are working; clicking on any group or card action has no effect, even though they still appear on the menu.

[2015-01-15 15:37] sIKE23 commented on #156
Interesting it works when you are in dev mode "OCTGN.exe -x" which is how I was testing last night. I am looking in to why it does not work in std mode.

[2015-01-16 15:02] sIKE23 opened #157 "Attachment Discard Bug"
From Schwenkgott:

Situation; Tanglevine is attached to a creature. Tanglevine is destroyed and the Owner uses "del" on Tanglevine to move it to discard. The Tanglevine card vanishes as i should be, but reappears right after that and self attached so an other (random?) card of the same Player.

After that, there seem to be some difficulties to delete the card again. Tanglevine has to be detached f

[2015-01-17 00:38] sIKE23 commented on #156
https://github.com/kellyelton/OCTGN/issues/1359

[2015-01-17 06:27] sIKE23 commented on #153
Changed to Mana Prism ...that's the one I was thinking about....

[2015-01-17 06:45] sIKE23 commented on #154
I am guessing that this is due to the fact that the hasIniRolled is a python global variable.

[2015-01-17 11:12] anandaguneratne commented on #144
With the most recent commit, the basic functionality of the attack detection module (That isn't a great name; let's call it "battle calculator module" from now on) is complete; it works, and has pretty much all of the features I originally wanted. Now all that remains is to clean it up, and take care of the numerous special cases (also, to improve the detection of attacks available to mages and to

[2015-01-17 11:14] anandaguneratne opened #158 "Standardize reference to the Tainted condition"
Currently, the condition officially referred to as 'Tainted' is referred to in the code alternately by 'Tainted' and 'Taint'. I want to standardize it so that it is always referred to as 'Tainted', as this is already causing problems with the battle calculator (#144) and poses potential problems in particular for function generators.

[2015-01-17 15:33] sIKE23 commented on #156
Just so you aware these are not working as expected. Both players create the items at this point. I am working on getting this working properly but the spaghetti is in a big bowl. I have been breaking out each of these functions (you will never see this) into its own py file as I chase through the calls to the functions. If your not aware, python global variables should be used sparingly as the ga

[2015-01-17 15:41] sIKE23 commented on #157
Can I get you to fix this one the Master fork? I will go ahead and put another release with this fix and one other minor one while I am at it. I would normally cherry pick this over, but this is such a large difference now, I am not sure what or if would break anything on that side.

[2015-01-18 01:25] sIKE23 commented on #158
Fixed and Closing

[2015-01-18 01:25] #158 closed

[2015-01-18 16:51] sIKE23 opened #159 "Remove Targeting Objects during reset"
Request from Schwenkgott

[2015-01-19 20:31] anandaguneratne opened #160 "Incorrect card image for Staff of the Arcanum"
The card image used for 'Staff of the Arcanum' has the mana drain traits displayed as 'Mana Drain 1' rather than 'Mana Drain +1'. The most recent official version of the card corrects this error. This is also reflected in the XML, but I will be fixing this with my next commit.

[2015-01-20 01:53] sIKE23 commented on #160
I just checked the o8c file on the dropbox share and the Staff of the Arcanum shows the Mana Drain +1 trait.

[2015-01-20 10:28] ACG8 opened #161 "Rework cards with new card size features"
Images for objects that are not sized the same way as standard cards (ex. the initiative token, vine markers, the phase sign, and sideways wall) are distorted to the dimensions of standard cards. I think this might be a result of the new OCTGN update, since I noticed it right after installing that. Let me know if you are seeing the same thing.

[2015-01-20 12:08] anandaguneratne commented on #157
Pretty sure this is fixed.

[2015-01-20 12:12] anandaguneratne commented on #160
Okay... maybe it is just my computer, then? Actually, I have suspected for a while that I am not receiving updates to the card images, since many of my cards (including the FiF cards) are shown as proxies. Any idea why this might be?

[2015-01-20 14:11] sIKE23 commented on #160
You have to load in the new Card Images:

http://octgn.gamersjudgement.com/wordpress/magewars/install-2/imagepacks/

//FC

On Tue, Jan 20, 2015 at 7:12 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-20 15:10] anandaguneratne commented on #160
Thanks. I downloaded the images, and everything is displaying correctly now.

[2015-01-20 15:10] #160 closed

[2015-01-20 16:41] anandaguneratne opened #162 "SBB validator not working"
I don't know how much of the Spellbook builder we are in charge of, but the validator is not working (either on OCTGN or on the website)

[2015-01-20 17:47] sIKE23 commented on #162
What do you mean it is not working?
 On Jan 20, 2015 11:41 AM, "anandaguneratne" <notifications@github.com>
wrote:

[2015-01-20 18:23] anandaguneratne commented on #162
Well, I went into the OCTGN SBB, and tried to validate a deck. I got the following error message:

System.FormatException: Input string was not in a correct format.
   at System.Number.StringToNumber(String str, NumberStyles options, NumberBuffer& number, NumberFormatInfo info, Boolean parseDecimal)
   at System.Number.ParseInt32(String s, NumberStyles style, NumberFormatInfo info)
   at Octgn.Mag

[2015-01-20 22:14] sIKE23 commented on #162
First lets make sure you are running the latest version of the SBB...

http://octgn.gamersjudgement.com/wordpress/magewars/install-2/sbb/

And we are responsible for the SBB, you will find it under the Deckbuilder
section in the Git repository.

//FC

On Tue, Jan 20, 2015 at 1:23 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-01-23 09:05] anandaguneratne commented on #162
Tested. It works!

[2015-01-23 09:05] #162 closed

[2015-01-24 11:40] anandaguneratne opened #163 "Defining Friendly Creatures"
Currently, the game can tell which player is which, but not which players are on a team. This poses an issue for multiplayer games, since there is no good way to define which players are friendly. We should eventually implement a way to define teams so that cards that affect Friendly creatures can correctly identify which ones are affected.

[2015-01-24 12:03] anandaguneratne opened #164 "Tooth & Nail Misspelled"
card.name for Tooth & Nail is given as "Tooth and Nail", which is incorrect. However, if I change this, it invalidates decks containing the card.

[2015-01-24 18:18] sIKE23 commented on #164
Fixed see #137

[2015-01-24 18:18] #164 closed

[2015-01-24 18:29] sIKE23 commented on #163
I have thought on this long and hard. The way I see this happening is once they do more on the match making side of things. The plan is to have game "modes". With game modes you will have a standard definition.xml and you will have additional "game modes".xml files. These will let you inherit from definition.xml and have its own extendable feature.

<mode name="Standard" description="Standard Spoi

[2015-01-24 18:30] sIKE23 commented on #161
This is due to the new card size feature, I am still working on how to resolve....

[2015-01-24 18:31] sIKE23 commented on #156
This was fixed in one of the very recent OCTGN updates...closing

[2015-01-24 18:31] #156 closed

[2015-01-24 18:45] sIKE23 commented on #135
Bumped into a bit of a delima with the card type for Phases and Diceroll from this commit:
c61718aa30c1df3d7840f64074fe61e9eda42ce8 I have a filter on Internal to prevent things from happening:
[code]
Do I have to update this bunch of times or is there a simple way to do this now, and add new types in future in one place?

[2015-01-24 19:59] anandaguneratne commented on #135
I'm not sure what you are asking. What is it that you want to update, exactly?

[2015-01-24 23:17] anandaguneratne opened #165 "Tactics Guru and OCTGN Tutorial"
One of the barriers to use of OCTGN in general and Mage Wars in particular is the learning curve. Even players who are familiar with the rules of Mage Wars may be intimidated by the prospect of learning to play on OCTGN (I know I was initially, which seems rather silly now). I have a two-pronged solution to this, in the form of a 'tactics guru' feature and an auto-enabled tutorial mode. Let me des

[2015-01-24 23:25] sIKE23 commented on #135
if card.Type == "Internal" or card.Type == "Phases" or card.Type == "Diceroll":

[2015-01-24 23:38] sIKE23 commented on #135
so what I am asking is can we make a group (list?) (dictionary?) of card.Type and then use that group as the test? That way if I add more non-game relevant card.Types I can just add them into the group once....

[2015-01-25 00:00] anandaguneratne commented on #135
Okay, if I understand your correctly, you want to know if there is some way to define a set of types such that you can simply add more types to the list rather than having to add a separate <if Card.type == Foo : return>?

Yes, you can. Try:
<typeIgnoreList = ['Internal','Phases','Diceroll']>

and then, for this particular function:
<if card.Type in typeIgnoreList: return>

Is this what you are lo

[2015-01-25 03:00] sIKE23 commented on #135
would this work?

	if card.Type in typeIgnoreList or not card.isFaceUp: return

[2015-01-25 07:10] sIKE23 opened #166 "Automate Domination Scenario Setups"

[2015-01-25 09:19] anandaguneratne commented on #135
Yeah, that should work, but you don't have to define typeIgnoreList inside each function. Just make one typeIgnoreList outside all of the functions, and they will recognize it as a definition.

I meant to get around to making a function generator for the token toggle functions; that would reduce the maintenance a lot.

[2015-01-25 16:04] sIKE23 commented on #144
We need to make sure that players (rollDice -> genericAttack) can turnoff the Battle Calculator and the game basically from an attack perspective works as it does today, as there maybe people who do not prefer this level of automation.

Also if one player turns it off what happens to the other player? This is why we have all of those questions at the start of the game, it is real hard to make assu

[2015-01-25 16:05] sIKE23 commented on #144
If I don't say it enough, amazing work.....

[2015-01-25 18:51] anandaguneratne commented on #144
Thanks! I'll see what I can do about adding an off switch. In terms of declaring an attack, it should be pretty simple (just go to the generic attack menu); the tricky bit is when receiving an attack. I think probably the best option is to halt the attack process after declaring the attack, so that the player with automation may select the attack from a list, but after the dice are rolled nothing

[2015-01-26 06:02] sIKE23 commented on #138
This has been implemented in OCTGN. When you create the card on the table i.e.:

[code]
you can now anchor it to the table with the anchor = true (and false to remove the anchor) i.e.:
[code]

Closing out

[2015-01-26 06:02] #138 closed

[2015-01-26 06:19] sIKE23 opened #167 "Make all Markers a standard size"
With the implementation of the multiple card feature in OCTGN images are working a bit differently. All game markers, as defined in the ``` <Markers></Markers>```section in the set.xml files, should all be the same dimensions.

Game markers like Stun and Slam will be set to 150*150

Smaller Markers like Dice and Action Markers will be set to 100*100

Copies of generic OCTGN Markers will be set to

[2015-01-26 23:19] anandaguneratne commented on #140
I see what he's done; he's defined a dictionary for each card with all the relevant information for that card (including, if I'm not mistaken, specific functions to call). I did something similar when defining monsters, items, and spells for Mage Wars RL. It would probably simplify many of our functions and possibly speed up parts of the code, but I don't think the gains would justify the amount o

[2015-02-04 06:30] sIKE23 opened #168 "Unable to "import os" module"
@ACG said:

The reason why you couldn't import the os module was that it was not included in the IronPython libraries included with OCTGN. I did some digging and I think the best way to provide this support is to identify all of the modules needed to successfully import os and include them in our own lib folder in the Mage Wars game directory and then is the OCTGN module wd() to append the sys.pat

[2015-02-04 10:15] anandaguneratne commented on #166
Well, import os seems to work for me now. Are you absolutely sure it will work for people without python installed?

[2015-02-04 15:38] sIKE23 commented on #166
Yes, OCTGN has it own limited version of IronPython look in your OCTGN\OCTGN folder and you will see the dll and stuff to make all of it work.

[2015-02-04 21:54] anandaguneratne commented on #166
Okay, the code for importing text files is basically done now (at least, it can correctly read multiple correctly formatted map layers from the text file and output them as a dictionary of arrays). At this point, all that we need is a function to interpret the arrays and convert them into an array of cards and map tiles on the board. I had the impression that you were working on this end already;

[2015-02-04 22:20] sIKE23 commented on #166
I have done all of the work of where to place, coordinate wise, each object
(board tile/creature/orb) what I don't have a clue is how to say for
example say back to map 21V1

0,13,0,0,0
13,13,2,0,0
0,7,13,7,0
0,0,6,13,13
0,0,0,13,0

M,0,0,0,0
0,S,0,0,0
0,0,U,0,0
0,0,0,S,0
0,0,0,0,M

I am using comma as a delimiter for now until we get the nomenclature
worked out. Are we going to use single charact

[2015-02-04 23:28] anandaguneratne commented on #166
Personally, I would prefer the single characters approach (not delimited).
It makes it much easier for map designers to picture the map that they are
designing, because all the characters are aligned neatly in rows and
columns. In your above example, the 13s would not work, therefore.

I can write something to process the code and place the tiles, though not
immediately as I have some other things

[2015-02-04 23:44] sIKE23 commented on #166
That is perfectly fine with me! Let me know if the Dom-Constants.py makes
sense to you......

</SIKE>

On Wed, Feb 4, 2015 at 5:28 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-05 09:44] anandaguneratne commented on #166
It makes sense, and I can see how to use it. Unfortunately (or perhaps
fortunately, depending on your perspective) I think I can probably make a
placement algorithm that calculates the placement using only the size of
the tiles and their relative position in the array, which would be more
general purpose than the hard-coded coordinates (as in, it would work for
any board dimensions, including ones

[2015-02-05 15:20] sIKE23 commented on #166
That is the card GUID in the set/xml file. Which is the name given each of
the 13 board tiles Sslak, Usslak, and the Orb (which IRL will be a Marker
but in OCT will be treated as a Card). The table.create method requires
three arguments, GUID, X, Y Coordinates. That is why I have defined them
here. You will see from last nights work I have them in a dictionary now.
So my thoughts were from the #MA

[2015-02-05 15:36] anandaguneratne commented on #166
Yes, that makes sense, and is more or less how I intended to implement
placement. Thanks for putting them in a dictionary; much nicer. I was going
to make multiple passes for each layer, but placing each tile and its
contents one at a time would work as well. I just meant that we don't need
to hard-code the coordinates of everything, since we can just have the game
compute the coordinates on the f

[2015-02-05 15:54] sIKE23 commented on #166
The reason I used 1 thru C for the board tiles was that was how Aaron had
the tiles labeled in the manual (1 - 12). So I am expecting from Domination
manual that the tiles will be numbered 1-12. I have no issue with the
generic tile being represented as a ".". If we want to be more creative I
am fine with that also, whatever it is that we decide on we will have to
make a key for those who want to

[2015-02-05 23:04] sIKE23 opened #169 "Add Storm Tokens to Staff of Storms"

[2015-02-05 23:05] sIKE23 opened #170 "Display Wall Cards horizontally using card sizes"

[2015-02-05 23:46] anandaguneratne commented on #170
Are we sure we don't want to display them vertically? Horizontally, they look sort of awkward with all the other cards in a player's hand, and we could easily auto-realign them when played.

[2015-02-06 00:20] sIKE23 commented on #170
I am playing with it right now and so far I am not happy......

On Thu, Feb 5, 2015 at 5:46 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-06 00:21] sIKE23 commented on #170
I was thinking it would be very nice to see the card as it should be viewed when you hovered over it......

[2015-02-06 05:51] sIKE23 commented on #170
Well, I finally got this all working, the cards do look a (just a tiny) bit weird in the players hand, but the pop up on the hover is very cool. I will pull it in and if you do not like, we can pull it back out.

[2015-02-06 05:53] sIKE23 commented on #170
You will have install the image pack in the dev folder to get the cards to present properly.

[2015-02-06 10:29] anandaguneratne commented on #170
I can't find the right image pack - I installed the one in the Domination folder, but the walls are displaying incorrectly.

Also, the new size of the board is overlapping the dice roll area now. I don't think we should fix this just yet, though, because we are going to need to make some other changes anyway to accommodate the new (variable-sized) modular boards.

[2015-02-06 14:59] anandaguneratne commented on #170
Never mind, it works now. The new walls look good (if slightly odd in a player's hand; no way to move them over a bit so that the spacing is uniform?)

[2015-02-06 15:51] sIKE23 commented on #170
Not really, hand spacing is done under Options | Advanced Options which has
to be enabled under the Basic Options tab by checking the Enable Advance
Options Check Box.

I know that we are over lapping at this point. The question is what do you
think of the board size as it affects the tiles too. We can get three
creatures vertically on a zone tile. Nothing else changes.

I had not even considered

[2015-02-06 16:38] anandaguneratne commented on #170
I think I like the new board/tile size. Plenty of space for all the cards in a zone.

The rest of this discussion will be tagged #166

Are you suggesting that we work things like the dice-rolling area placement into the load map function? I kind of like that idea, actually. We could roll the other board types (such as the actual, non-modular standard board) into the function as well, start players

[2015-02-06 17:12] sIKE23 commented on #170
I am thinking yes we make the Dice Roll Area (DRA) work its own function
and things like modular board tiles can change the location of these items.

The initial display does center things on 0,0 so that is where we want to
work from. So, say you have map 21 v1 (its a great example from a planning
perspective) I start by always placing the first tile (center) at -250,
-250 and work out from there.

[2015-02-06 19:34] ACG8 opened #171 "Searchable E-Codex"
This is somewhat related to #165. Mage wars players, and especially newer players, often have trouble remembering exactly what a particular trait does. It would be easy (though slightly time consuming, although COPY+PASTE will speed things up a lot) to make a dictionary containing information on the exact rules, along with rule clarifications, for each trait that can be searched by players.

Inter

[2015-02-06 19:36] anandaguneratne commented on #171
Incidentally, I would like to be in charge of these projects (#165 and #171)

[2015-02-06 19:59] sIKE23 commented on #171
That's not surprising that you want to take the lead. I already provide
access to the codex and have thought about doing the same with the FAQ.
These would/are images though so not searchable.

The only thing to consider is we have a maximum package size of 9MB and we
are pushing a package size of almost 7MB already. Someone along the way
asked for some more sounds to be included and all markers l

[2015-02-07 05:35] sIKE23 commented on #168
Closing

[2015-02-07 05:35] #168 closed

[2015-02-07 05:37] sIKE23 commented on #166
We need to add in a bit of error handling. The first one should check to see that all three of the layers have the same dimensions, if not, pick another map. The second should note that a character in the map had no matching object in the dictionary.

[2015-02-07 07:27] sIKE23 commented on #166
Are we going to do anything with the Mage start corners? We are already talking about on the fly placement of the game tiles, why not do the same for the mage and mage stats card. We can start with just two player support or all 6 I was thinking MmNnOo in the creatures dictionary. If you like the idea I will get you the offsets for the card placements. We would need placements for Mage cards, Mage

[2015-02-07 09:23] anandaguneratne commented on #166
Regarding error handling: sure. Though if a character on the map has no match in the dictionary, currently the game will simply not place anything there, which is not necessarily a bad default.

Regarding autoplacing mages, sure, we can do that. I don't think sensing which corner the mage is in will be very difficult. I don't think we even need to require that the players load a map/spellbook in a

[2015-02-07 15:24] sIKE23 commented on #166
The current default is not bad, just thought that it would be nice to say something, but your right if your expecting something to be placed on the board and it doesn't appear then you have been notified.

I will get you the offsets once I get them done. Right now you have made the default placement locations (all 6 of them) a dictionary. If we do this we will have to make it a requirement for at

[2015-02-09 06:01] sIKE23 commented on #166
Here are the offsets based on 250,250 mm tiles.

	#Mage Card Placement locations
	MageTopRightOffsetX, MageTopRightOffsetY = 0,0
	MageTopLeftOffsetX, MageTopLeftOffsetY  = 188,0
	MageBottomRightOffsetX, MageBottomRightOffsetY = 0,168
	MageBottomLeftOffsetX, MageBottomLeftOffsetY  = 188,168

	#Mage Stats Card Placement locations
	MageStatTopRightOffsetX, MageStatTopRightOffsetY = -62,0
	MageStatTop

[2015-02-09 13:13] anandaguneratne commented on #166
Right. I'll look into implementing that.

[2015-02-09 13:19] anandaguneratne commented on #166
Wait - do we want players to still manually order their mages placed, or do we want the game to autoplace the mages when all parties have loaded spellbooks? I think the former option would probably be better, and keeps in line with the general principle of giving players control of the game.

Either way, I think I will need to implement zone detection before I can implement this. The easiest way t

[2015-02-09 15:29] sIKE23 commented on #166
Right now how this is all handled in playCardFace() function. I have mapped out 6 locations that are assigned by playerNum. The playerNum is decided when a player picks a color. Why do you have to implement zone detection? I thought that we would add MmNnOo to the mapCreaturesDict as:
"M" : "Mage 1",
"m" : "Mage 2",
"N" : "Mage 3",
"n" : "Mage 4",
"O" : "Mage 5",
"o" : "Mage 6"

On the Creature La

[2015-02-09 21:28] anandaguneratne commented on #166
I think 1,2,3,4,5,6 would work better as the dictionary keys for the mage starting positions.

[2015-02-09 21:41] sIKE23 commented on #166
Ok :)

I just throw things at the wall to get my thoughts across, you implement
it, and I will tweak if need be :).

On Mon, Feb 9, 2015 at 3:28 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-11 06:47] sIKE23 commented on #139
Where are we on this issue?

[2015-02-11 06:51] sIKE23 commented on #128
anandaguneratne said:

Did the addition of the OS module make this feasible now? Do we want to split this issue in half and move the 2nd half to the Q2 Release?

[2015-02-11 06:58] sIKE23 commented on #146
Where are we on this?

[2015-02-11 07:00] sIKE23 commented on #140
I would like to see Spellbind object enforcement. i.e. Elemental Wand non-Epic attack spell, Helm of Command, non-Epic command incantation, Mage Wand non-Epic incantation, Thoughtspore non-Epic Level 1-2 attack or incantation spell, and my favorite Wizard's Tower non-Epic quick attack spell.

In-conjunction see my query over on #151

[2015-02-11 07:02] sIKE23 commented on #151
Is it possible to have a different offset for attached cards based of differing criteria. For example Wands (better is Spellbind objects) it is common to have the text part of the card (lower 1/3) out of the bottom. Unrevealed Enchantments Stack to the bottom of a card and revealed attachments to the top and the highlight gets turned off?

[2015-02-11 12:40] anandaguneratne commented on #140
That (enforcement of spellbind/familiar/spawnpoint restrictions) has already been implemented. See attachCards.py lines 241 - 264.

[2015-02-11 12:47] anandaguneratne commented on #151
Different offsets: Yes, that is possible. In fact, I would prefer that bound/prepared spells be treated differently from attachments. It will take a little while, since I will most likely have to make a separate system for bound objects (or just work an exception into the existing system)

Unrevealed on bottom and revealed at top: This would be tricky (but possible), but I don't think it is advisa

[2015-02-11 12:48] anandaguneratne commented on #139
Still unsolved. I took a look at it a while after the OCTGN update, but didn't make much progress; I can take another look at it now.

[2015-02-11 12:49] anandaguneratne commented on #146
I've done some work on this, but many of the cards still lack traits. Probably would be best if I take care of this.

[2015-02-11 12:51] anandaguneratne commented on #128
The problem with quickloading is that I can't find a function that loads a deck (though the OS module will probably help once I can). The only current way I know how to interact with decks is through the load deck command built into OCTGN itself (that players use while actually playing the game). I have searched through the documentation, but there is no function that I can find that interacts wit

[2015-02-11 23:12] sIKE23 commented on #128
So there is no way to implement the second half. Do we just want to go
ahead and close this issue, split it and close one and wontfix the other?

</sIKE>

On Wed, Feb 11, 2015 at 6:51 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-11 23:13] sIKE23 commented on #146
Should I move this issue to Long Term projects so we can mark against it as
we go?

On Wed, Feb 11, 2015 at 6:49 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-11 23:28] sIKE23 commented on #151
Knowing the order of *hidden* attachments is important. As for the offset
couldn't you just make it variable:

add a couple lines before the line below offset = 12

change Y = y-(count*side)*12 to Y = y-(count*side)*offset

then add a check for the Spellbind trait and if it is positive change the
offset

With further thought the Unrevealed on bottom and revealed at top idea is a
bad one.

Highligh

[2015-02-11 23:37] sIKE23 commented on #140
Awesomeness! Close this out then?

[2015-02-11 23:38] anandaguneratne commented on #128
Yeah, that sounds good.

[2015-02-11 23:39] anandaguneratne commented on #146
Sure.

[2015-02-11 23:40] anandaguneratne commented on #151
If that is meant to be a link, it is not working for me.

[2015-02-11 23:41] anandaguneratne commented on #140
Sure. There might be more restrictions we want to enforce in the future, but I think this is good for now.

[2015-02-11 23:41] #140 closed

[2015-02-11 23:49] sIKE23 commented on #140
Here is my thoughts on revealed spellbind objects....offset is -27

![spellbind objects](https://cloud.githubusercontent.com/assets/5695175/6159038/22b1a05a-b216-11e4-9e6e-ab193f0e5669.jpg)

[2015-02-11 23:50] sIKE23 opened #172 "Decrease time needed to start debug mode by autochoosing deck"
See  #128 for issue

[2015-02-11 23:50] #172 closed

[2015-02-11 23:51] #128 closed

[2015-02-11 23:53] sIKE23 commented on #151
you can find it at MageWars-Dev\AttachStack.jpg

On Wed, Feb 11, 2015 at 5:40 PM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-12 00:16] sIKE23 commented on #148
Should I create a Card Menu Item with a Keyboard Shortcut for this marker?

[2015-02-12 00:17] sIKE23 commented on #126
Can we add Roll 0 dice or (just the effect dice) item to the menu?

[2015-02-12 00:20] sIKE23 commented on #155
I think somewhere along the way with one of your early changes you have broken auto-initiative for single players. I am working on getting all of this re-worked but I think it will end up being a Q2 item.

[2015-02-12 06:27] sIKE23 commented on #135
I think this work is done for the Q1 release, let me know if one should be opened for Q2.

[2015-02-12 06:29] sIKE23 commented on #141
Think I will leave this open and pull it forward into the Q2 Milestone.

[2015-02-12 06:30] sIKE23 opened #173 "Set.xml clean up for Q2--2015"

[2015-02-12 07:49] sIKE23 opened #174 "The Upkeep on Essence Drain is not automated"
Its trait is in the card.text part of the card data. I need to enhance the getTraitValue() to also check for the Upkeep value in this section of the card.

[2015-02-12 08:44] anandaguneratne commented on #148
Yes, probably.

[2015-02-12 08:45] anandaguneratne commented on #126
We could, but it seems unnecessary. If all you care about is the effect die, it doesn't matter how many other dice you roll.

[2015-02-12 08:49] anandaguneratne commented on #174
Actually, using #146 and the computeTraits function from the attacks.py document would take care of this.

[2015-02-12 15:13] anandaguneratne commented on #170
Okay, there is a MAJOR problem with displaying walls horizontally. When you double click to place a wall face-down, it is placed horizontally. This in of itself is not so bad (maybe we could rotate it or something), but the back of the card is also distorted, so that it is obvious when a player has played a wall spell. You will probably have to create an alternate back for walls.

I think my perso

[2015-02-12 16:18] sIKE23 commented on #170
Now that you point out the obvious. I will revert the walls back. We need
to be able to have the card backs set to default.

//FC

On Thu, Feb 12, 2015 at 9:13 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-12 17:04] anandaguneratne commented on #166
This OCTGN dev thread is relevant (or will be in the future) to our modular boards:

https://github.com/kellyelton/OCTGN/issues/1377#issuecomment-74107185

[2015-02-12 18:33] sIKE23 commented on #174
The dictionary that it returns to me is not very useful. def
traitParser(traitStr): is much close to what I need but I need the +2 value
that is striped out.....

On Thu, Feb 12, 2015 at 2:49 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-13 06:48] sIKE23 commented on #126
There are many times you want to just roll the Effect Die. (Defenses and Escape Rolls off the top of my head)
Add in a 'Roll Effect Die' button and its color should be #E0B525 so something like:

colors = [getActionColor(attackList[i]) for i in range(len(choices))] + ["#666699","#E0B525","#000000"]
choices.extend(['Other Attack Dice Amount','Roll Effect Die','Cancel Attack'])

Fix up the logic for

[2015-02-13 07:04] sIKE23 commented on #174
What will the data from "return traitDict" look like for Upkeep? I cant test against it so I have no clue on how to parse what is returned to me....

[2015-02-13 12:04] anandaguneratne commented on #126
Okay, sure. My point was that you can just roll X amount of dice and ignore everything but the effect die roll, but putting in a dedicated d12 button would make the menu look nicer, even if it is unnecessary.

[2015-02-13 12:16] anandaguneratne commented on #174
Call computeTraits on the card you are reading (not the Essence Drain, but the card to which it is attached). This will return a dictionary of traits containing the entry "Upkeep:2". You can retrieve the value of X (for your function that reads Upkeep +X) from the returned dictionary by querying: dictionary.get('Upkeep',0) (if you have a different default value for cases where cards have no Upkeep

[2015-02-14 13:12] anandaguneratne commented on #146
Okay, I think I've figured out how to implement zone buffs (and have begun to implement it); we do it the exact same way as targeted buffs, and let the card.target field dictate how it is interpreted. So if a card with card.target = 'Zone' has bracketed [Armor +2] (fortified position) or [Regenerate 1] (Mohktari), we assume that it is a zone buff. There won't be any conflicts, because zone-targete

[2015-02-14 13:26] anandaguneratne commented on #146
Never mind; this won't work. Too many zone-targeted cards only give their buffs to specific types of cards. I'll have to just hard-code each zone-buff separately.

[2015-02-14 14:19] anandaguneratne commented on #144
I accidentally closed this (without noticing).

[2015-02-16 00:49] anandaguneratne opened #175 "Feature Request: Mental Mage Wars"
Sailor Vulcan (who I will always think of as Imaginator) requested the following:

"""
http://forum.arcanewonders.com/index.php?topic=14253

I want to play mental mage wars on OCTGN, but the format depends on the ability to write labels on cards during the planning phase that only become visible to opponent when the card is turned face up or peeked at.

It also depends on being able to create blan

[2015-02-17 00:30] anandaguneratne commented on #139
Fixed now with the above commit, at least as far as I can tell.

[2015-02-19 12:03] anandaguneratne opened #176 "Use card special abilities with TAB"
Many cards have a single special ability that may be used once per round. Example: Hand of Bim-Shalla. With event memory, it should be pretty easy to incorporate these into the action system, using TAB as the activating key. For instance, to use the Hand, one might Select the target, then query the Hand using TAB. Simple, and consistent with the current system for making attacks. Ultimately, all a

[2015-02-20 18:22] anandaguneratne commented on #175
Imaginator confirmed that this is sufficient for his purposes, so I think we can close this issue.

[2015-02-20 18:22] #175 closed

[2015-02-21 02:06] sIKE23 opened #177 "Automating Mana usage off of a spawnpoint"
Schwenkgott asked:
![spawnpoint](https://cloud.githubusercontent.com/assets/5695175/6312369/a39f9d80-b93b-11e4-9d0e-99b559be8bf5.jpg)
Spawnpoints have been added to the Spellbind feature added in the last week correct. From there it should not be to big of a leap to automate this in the castSpell() function I believe. What are your thoughts.

[2015-02-21 10:02] anandaguneratne commented on #177
You don't even need the prompt.

The way binding cards works right now is that cards appropriate to a particular spawnpoint (or familiar) are "bound" to the spawnpoint, not "attached" to it. The game recognizes them as bound spells, and treats them differently from attachments (for instance, they are displayed below the card, rather than above it, and are not considered when computing the traits o

[2015-02-21 10:07] anandaguneratne commented on #177
Though it doesn't affect this issue directly, I should also mention that spells may currently only be bound during the Planning Phase (mainly so that there is no confusion as to whether a player is binding or attaching an enchantment to Fellella or Sersiryx). Do you think this is the best way to handle this?

[2015-02-21 17:12] sIKE23 commented on #177
Just so you are completely aware, I am a newb at python, I have been
learning the language as I go. At this point I can basically follow what
most of your functions are doing with a rudimental understanding.
Thankfully you comment well most of the time and that helps. I have figured
out that some of what I was doing before is could probably be done better
with your code. Lets leave what we have fo

[2015-02-21 17:26] anandaguneratne commented on #177
"""
As for bound rules. Objects likes Wands change out with a Quick Action how
is that handled at this point?
"""
Currently, it isn't. I can (and will) change those to allow players to change the bound spell during the action phase, which should help with that for now.

"""
So for the castSpell() function we should be able to add in:

since they player will be double clicking on a bound card to re

[2015-02-21 17:35] sIKE23 commented on #177
The question is do they want commit to spending X + Y mana to cast the
spell. X is Spawnpoint Mana and Y is Mages Mana. The math will use up all
of the Spawnpoint Mana's first then the rest will come out of the Mages
mana pool.

//FC

On Sat, Feb 21, 2015 at 11:26 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-21 17:41] anandaguneratne commented on #177
Sounds good. Maybe say "X mana from <spawnpoint.name> and Y mana from your personal supply" so it is explicit.

[2015-02-21 17:42] sIKE23 commented on #177
That is the intent. We do the math, enforcing the rules, and prompt with
the question  worded properly for there approval....

//FC

On Sat, Feb 21, 2015 at 11:41 AM, anandaguneratne <notifications@github.com>
wrote:

[2015-02-22 14:24] ACG8 opened #178 "Flavorful notifications"
Already working on this, but thought there should be an issue opened for it specifically. The Octgn module can be made a lot more fun by having flavorful notifications. Currently, this just pertains to death messages for creatures, but perhaps we can think of some other places where the flavor can be increased? The newly renamed textfunctions.py (previously help.py) module is the place to store th

[2015-02-24 15:38] ACG8 opened #179 "Reduce Lag"
Starting to see some lagging in the program. This issue is opened for commits that optimize the speed of various functions.

[2015-02-27 13:46] ACG8 opened #180 "Double Click Rotation?"
I had an idea. What if double clicking on one of the top corners of a card rotates it in that direction (i.e. left corner rotates counterclockwise, right corner rotates clockwise). This would let us eliminate the rotate command, and would be easier for players.

[2015-02-27 16:40] sIKE23 commented on #180
I like the idea, so what would happen if the "top" of the card is rotated
180 degrees? I think the right click and Rotate should stay also....

On Fri, Feb 27, 2015 at 7:46 AM, ACG8 <notifications@github.com> wrote:

[2015-02-27 17:41] ACG8 commented on #180
Not sure. I'll have to test it and figure out exactly how rotation affects it. I don't think it will be too hard to do, though. I'll experiment later today or tomorrow morning.

And I can see the argument for keeping rotation as a function too. We can have both!

[2015-02-28 14:30] ACG8 commented on #180
Sadly, it doesn't look like we can do this at the moment. There appears to be no way to get the mouse cursor position. I assumed that the (x=0,y=0) at the start of each card function were providing the coordinates of the mouse, but they appear to have no purpose whatsoever.

[2015-02-28 14:30] #180 closed

[2015-02-28 15:37] sIKE23 commented on #180
The X,Y are board coordinates....

On Sat, Feb 28, 2015 at 8:30 AM, ACG8 <notifications@github.com> wrote:

[2015-02-28 16:11] ACG8 commented on #180
But for what? They generally aren't used in the functions, and the functions work just fine without them.

[2015-02-28 18:40] sIKE23 commented on #180
I don't know but I will ask...

On Sat, Feb 28, 2015 at 10:11 AM, ACG8 <notifications@github.com> wrote:

[2015-02-28 19:16] sIKE23 commented on #166
Very nice!

[2015-02-28 23:48] ACG8 opened #181 "New Features Introduction"
The new release has so many new features, players might be overwhelmed/not notice them all. I thought it might be good to put together a small tutorial that introduces them to the new features. The parameters are:

- It would be an askChoice function where each button gives information about a specific feature

- It will appear automatically the first time the player opens a game with the new vers

[2015-03-01 00:13] sIKE23 commented on #181
Sounds good we can work out a name  for as we go, take a look at the
initializeGame() function and the changelog.py, because I there is
overlapping functionality there.....

//FC

On Sat, Feb 28, 2015 at 5:48 PM, ACG8 <notifications@github.com> wrote:

[2015-03-01 00:58] ACG8 commented on #181
Okay, great! I never really understood what changelog does, but if it triggers only when the player is new to the current version, it sounds like the perfect place to trigger this function. I'm still not sure how it works; do you think you can integrate the new function into the existing system for notifying players about new features?

[2015-03-01 01:18] sIKE23 commented on #181
I grabbed it from Brines MTG code because people kept complaining that
there was no documentation. All it is doing is looking at version
numbers and popping up a screen letting them know what documentation is
available. You should be able to put in your code in either
the initializeGame() function to bring up whatever text you want or create
your own function and call it from there......or you can

[2015-03-01 06:12] sIKE23 commented on #176
I like it, out of curiosity why did you go with hovering over the source card instead of the targeting arrow?

[2015-03-01 06:18] sIKE23 commented on #181
Can we get a button to bring up the changelog? I don't think we need to put all of the changes into this features file, but we should be able to link off of it .....

[2015-03-01 11:14] ACG8 commented on #176
Well, originally I didn't know how to read the arrow's information. Looking again, however, I see that there is an onTargetCardArrow event. Which raises the question: would this be a useful feature?

On the plus side, it is a lot more intuitive than Left Click + TAB. On the minus side, it will reduce players' abilities to indicate what they want to do without triggering a game event. It shouldn't

[2015-03-01 11:39] ACG8 commented on #181
Sure. Where is the changelog? I see the notification that pops up when you first install a new version, but how do you get the actual changelog?

[2015-03-01 17:02] sIKE23 commented on #181
It is an html file in the docs folder.....

//FC
On Mar 1, 2015 5:39 AM, "ACG8" <notifications@github.com> wrote:

[2015-03-01 17:54] sIKE23 opened #182 "Automate Regeneration"
Now that you have worked out zones it should be simple to get this automated.

[2015-03-01 18:00] sIKE23 commented on #144
The Gargoyle Sentry is not being calculated correctly when he is on Guard. What is interesting here is that he has a pre-req (Guarding) before he gets the Armor +3 and Tough -3 buffs. Do you think it is worth creating a prereq tag that you could write code to check for.

i.e.

[prereq=Guard] [Armor +3] [Tough -3]

The BC would then know to check to see if the creature with this tag has a Guard Mar

[2015-03-01 18:24] ACG8 commented on #144
No, I don't think tags are the best solution for this problem. I'll take a look at the Gargoyle's code (I thought I had it working; is it double-counting the bonus?) Long term (by which I mean Q2), I think we will be forced to create creature dictionaries in order to maintain the code (this is all right though; it will give us a lot of flexibility in implementing other features and will make thing

[2015-03-01 18:35] ACG8 commented on #144
Okay, I found the problem. The exception was referring to 'Sentry Gargoyle' instead of 'Gargoyle Sentry'. Problem is now fixed.

[2015-03-01 18:36] sIKE23 commented on #144
We could create a property for items like this that is hidden from the
Deckbuilder and since that property is not  defined in the proxygen it will
not be sceen...

https://github.com/kellyelton/OCTGN/wiki/definition.xml#property

As for the Gargoyle his additional Armor is no being calculated when he is
Guarding. I haven't even tested the Tough -3

//FC

On Sun, Mar 1, 2015 at 12:24 PM, ACG8 <noti

[2015-03-01 18:37] sIKE23 commented on #144
Do I need to remove the updated tags in the set.xml....

On Sun, Mar 1, 2015 at 12:35 PM, ACG8 <notifications@github.com> wrote:

[2015-03-01 18:38] ACG8 commented on #144
Don't worry (remove it if you like), it doesn't matter for now since it is in the card text (the BC won't see it, since it is a creature).

We could certainly modify the proxygen, but I don't think it will be necessary, because there are numerous benefits to making a spell dictionary anyway. I'm going to open an issue for that, and will outline my plan there.

[2015-03-01 18:40] sIKE23 commented on #144
This is like what Brine did in Magic?

On Sun, Mar 1, 2015 at 12:38 PM, ACG8 <notifications@github.com> wrote:

[2015-03-01 18:48] ACG8 opened #183 "Create Spell Dictionary and reroute everything through it"
I think we have just about reached the limit of what we can do by reading the set.xml files. To continue with the automation of the game's features, I think we will need to create our own spell definitions.

I am proposing a dictionary of spells. Each spell will contain the stats of that spell, including its special, unique effects encoded by functions, buffs that it provides, etc. These functions

[2015-03-01 18:49] ACG8 commented on #144
As I understand it, yes. Though possibly more ambitious.

[2015-03-01 18:53] sIKE23 commented on #183
Get me a format for what we are wanting to do and lets start with a small set like CoK or FiF and see how that works?

[2015-03-01 20:57] sIKE23 commented on #176
Does triggering a game event slow things down?

On Sun, Mar 1, 2015 at 5:14 AM, ACG8 <notifications@github.com> wrote:

[2015-03-01 21:30] ACG8 commented on #176
Not so much in terms of code speed, though having the menu pop up can slow things down when playing in a game. At the moment, however, indicating a target with the arrow will almost always mean an attack (for cards that have attacks), so I don't think we need to worry about this. Besides, I added an option to turn off arrow-targeting for players that don't like it.

[2015-03-02 06:50] sIKE23 commented on #177
Will make this a issue for Q2...

[2015-03-02 06:50] #177 closed

[2015-03-02 06:51] sIKE23 opened #184 "Automating Mana usage when casting a spell prepared on a spawnpoint"
As per #177

[2015-03-02 15:22] sIKE23 commented on #155
This is fixed, correct?

[2015-03-02 15:36] sIKE23 commented on #144
I do not know if this is important. Take 2 creatures with melee only attacks, place each in a different zone. I have the BC off. Press Tab, you will get no legal attacks. Now press the Tab button again. You will get a roll dice window.

If you do it with the Targeting Recticle and the Tab from the Attacker the same thing will happen every time.

for the Targeting Arrow and Reticle you should be ab

[2015-03-02 16:47] sIKE23 commented on #153
So I am trying to capture all of the cards that meet the requirements for this card.

Mordok's Obelisk, Suppression Orb, Harshforge Monolith

Any other cards you can think of?

[2015-03-02 17:29] ACG8 commented on #153
Mana Siphon, Armor Ward, Essence Drain, Enchanter's Wardstone, Suppression Cloak, Drain Power, Mana Leech, Staff of the Arcanum

[2015-03-02 17:30] ACG8 commented on #155
I think so, yes.

[2015-03-02 17:30] #155 closed

[2015-03-02 17:43] sIKE23 commented on #153
Just realized I am doing Essence Drain wrong....

On Mon, Mar 2, 2015 at 11:29 AM, ACG8 <notifications@github.com> wrote:

[2015-03-02 17:56] sIKE23 commented on #153
Armor Ward - During the Spellcast sequence
Drain Power - During the Spellcast sequence
Essence Drain - Calculated during Upkeep Phase
Enchanter's Wardstone - During the Spellcast sequence
Mana Siphon - Don't think this applies as it is not a Drain or Transfer
effect, changes the Channeling Stat....
Mana Leech - During an Attack Sequence
Suppression Cloak - During an Attack Sequence
Staff of the Ar

[2015-03-02 19:16] sIKE23 commented on #166
For example, if Player 1 loads a Map then Player 2 loads a map, Player 2 will need to take control of the board tiles from player 1 before deleting them....

[2015-03-02 19:20] sIKE23 commented on #166
Load Map 21 with 2 Players, creature placement isn't right

[2015-03-02 19:24] ACG8 commented on #166
Hmm...good point about control of board tiles. I'll see what I can do.

[2015-03-02 19:25] sIKE23 commented on #151
An unbound Fire Ball when cast says: <player> casts 'Fireball' which is Spellbound, it has a printed casting cost of 8

[2015-03-02 19:26] ACG8 commented on #151
I don't understand what you mean.

[2015-03-02 19:34] sIKE23 commented on #151
I guess the question is how do you "Target" with an Unbound Attack Spell? From Source Mage to Target or Attack Spell to Target?

[2015-03-02 19:37] ACG8 commented on #151
From Source Mage to target. Try it; it should work.

[2015-03-02 19:39] sIKE23 commented on #151
We are changing twice for spells

sIKE says

[2015-03-02 19:41] ACG8 commented on #151
I already fixed this a few days ago, though. Attack spells should not ever be charging the player when revealed, unless that player has the BC turned off. Are you using the most recent version of Q1--2015?

[2015-03-02 19:44] sIKE23 commented on #151
Yes rolled a (pre)-alpha release this morning....

On Mon, Mar 2, 2015 at 1:41 PM, ACG8 <notifications@github.com> wrote:

[2015-03-02 19:54] ACG8 commented on #151
Okay. I can't look at it right now, but I'll look at it this evening and get back to you.

[2015-03-02 20:01] sIKE23 commented on #151
that's fine just wanted to start capturing issues so we can start knocking
them down, we have until the end of the month
....

On Mon, Mar 2, 2015 at 1:54 PM, ACG8 <notifications@github.com> wrote:

[2015-03-02 21:41] sIKE23 opened #185 "Create SBB for Academy"
The enforcement rules are different for Academy. I can see this going one of two ways, keep it all in one dll and detect if it is an Academy or Arena Mage and then fork off to the proper rule set. The other of course is we have a separate DLL for each.

Thoughts?

[2015-03-02 21:46] sIKE23 opened #186 "Refactor SBB C# Code"
Right now it is one big method, it is repetitive, and spaghetti like. The nice thing is we don't have new mages to work in at this point, but keep that in mind when you are doing the work.

[2015-03-02 21:57] Kharhaz commented on #185
So far behind I am not even thinking about academy since the rules can change at any point from now to the final version.

Sent from my iPhone

[2015-03-02 22:05] sIKE23 commented on #185
I understand! I have had to write them for the in-game side of things and
have most of the kinks worked out :)

//FC

On Mon, Mar 2, 2015 at 3:57 PM, Kharhaz <notifications@github.com> wrote:

[2015-03-02 23:01] ACG8 commented on #144
Okay, I just tried this out and did not get the error that you are reporting. If you have the BC off, pressing TAB should always bring up the generic menu, not the 'legal attacks' menu.

However, I did find that dragging an arrow still declares an attack using the BC even when the BC is switched off, so I'll need to fix that.

Regarding the targeting arrow/reticle: the arrow is removed when you de

[2015-03-02 23:36] Kharhaz commented on #186
im trying to find the file so I can pull it and look at it. where is it in
github?

On Mon, Mar 2, 2015 at 3:46 PM, sIKE23 <notifications@github.com> wrote:

[2015-03-02 23:41] sIKE23 opened #187 "SBB: Mage Card and Mage Stats Card"
If a Deck does not have the Mage Section first it breaks the rest of Validation. I think a check to make sure that Mage and Mage Stats cards exist in the Mage Section and that the section is first in the list should resolve the problem.

[2015-03-02 23:44] sIKE23 commented on #186
when you sync the repo up locally it is under the Deckbuilder folder.

on the Github website it is located here:
https://github.com/sIKE23/Mage-Wars/tree/Q1---2015/Deckbuilder

//FC

On Mon, Mar 2, 2015 at 5:36 PM, Kharhaz <notifications@github.com> wrote:

[2015-03-02 23:47] Kharhaz commented on #186
you have an order you would prefer it cleaned up in?

properties, installer, etc

On Mon, Mar 2, 2015 at 5:44 PM, sIKE23 <notifications@github.com> wrote:

[2015-03-02 23:54] ACG8 commented on #151
This issue is not happening for me.

I open a game, play a beastmaster, and create a fireball in my inventory. I drag the BM and a fox into the arena. I play Fireball from my hand face-down. I check to make sure the BC is on. It is. I double click the face-down fireball. It flips face up (and does not prompt me for mana). I drag an arrow from the BM to the fox, triggering an attack. I select fireb

[2015-03-03 00:20] ACG8 commented on #151
The castSpell function seems rather complicated to me. Do you mind if I look into simplifying/improving it?

[2015-03-03 01:45] sIKE23 commented on #151
Sure....

On Mon, Mar 2, 2015 at 6:20 PM, ACG8 <notifications@github.com> wrote:

[2015-03-03 02:03] sIKE23 opened #188 "Improve castSpell function"
ACG says

sIKE says

[2015-03-03 02:07] sIKE23 commented on #151
Placed a video recording in the dev folder for you to see what we are
seeing, I was able to reproduce Schwekgotts issue...

On Mon, Mar 2, 2015 at 7:45 PM, Frederick Czajka <fczajka@pobox.com> wrote:

[2015-03-03 06:29] sIKE23 commented on #144
Testing the Gargoyle again, and I am just verifying the calculation here:

![calc](https://cloud.githubusercontent.com/assets/5695175/6457460/b4ab4b58-c13b-11e4-8d4e-20fce69df780.jpg)
I have a Guard Marker on him so he has Tough -3

4-10 = 1 Burn; 11+ = 2 Burn

So the second part is right 0% chance for 2 Burns (effect roll of 12 - 3 = 9)

the question is the percentage on the 2nd part
shouldn't th

[2015-03-03 06:50] sIKE23 commented on #151
Hmm playing with this more...I think the BC got turned off some how and I didn't know it....

I think that maybe in Q2 that you should handle prepared Attack Spells differently than Bound Attack Spells. When the casting sequence for a prepared spell is complete you should discard it or prompt to discard it. For a bound spell this shouldn't happen.

Next item when Mage Targets a creature for a atta

[2015-03-03 07:02] sIKE23 commented on #153
Sorry for throwing so much at you today, no rush but I can not figure out
why this snippet:

if card.Name == "Essence Drain" and isAttached(card) == True:# handle
Essence Drain
  attachedToCard = getAttachTarget(card)
  if attachedToCard.controller == me:
      TraitValue, TraitStr = getTextTraitValue(card, "Upkeep")
      EssenceDrain = 1

is throwing me this error message:

[image: Inline image

[2015-03-03 11:35] ACG8 commented on #144
Tough -3 effectively shifts the range up by 3, so it becomes

7-13 = 1 Burn, 14+ = 2 burns

You can't roll a 13, so really that is 7-12 = 1 Burn

Which is...6 values out of 12. It should be 50%. I'll see what is wrong.

[2015-03-03 11:53] ACG8 commented on #144
Fixed it! The problem was that it was counting the full range (7-13) rather than truncating it at 12 (7-12). Should work correctly now.

[2015-03-03 12:03] ACG8 commented on #151
So this is working properly for you now? Though if the BC is turned off, you should not be able to cast the spell with the attack menu (the menu shouldn't even appear) in the first place, so there is still an issue to fix.

Yes, there are great plans for Q2. I think that is a great idea.

Regarding detecting face-down attack spells; that is certainly possible. I'll get right on it.

[2015-03-03 12:07] ACG8 commented on #151
Okay, I found the problem. The targeting arrow still brings up the menu even when the BC is off, and selecting a spell on the menu will still prompt you to pay the cost. This will be easy to fix, but it is in the actions file, so I would rather wait until you have finished your changes (I note that there are 2 action files right now) to fix this. Similarly, I'll wait on the face-down attack spell

[2015-03-03 12:23] ACG8 commented on #153
The problem is in your getTextTraitValue() function.

Specifically, you are calling int('2]'), which is invalid because of the right bracket.

The reason it is '2]' rather than '2' is because the line

STraitCost = strTrait.split("+")

is being applied to the string "[Upkeep +2]"

Which means STraitCost = \["[Upkeep ","2]"\]

To fix this, just use the str.strip method or the str.replace method:

e

[2015-03-03 12:49] ACG8 commented on #181
Okay, I don't see any commands to open up HTML documents. You can access it in the documents tab, but there doesn't seem to be a function that does the same. Perhaps this is like loading decks (in the sense that the OCTGN engine can do it, but not the module)? Or do you know of a function that will open an html file?

[2015-03-03 15:29] sIKE23 commented on #151
When my server OS died a couple of weeks ago, I had to reinstall, my IDE is
doing that and I have finally figured out (I hope) to turn it off. If you
see anything with a (#) you can ignore....

On Tue, Mar 3, 2015 at 6:07 AM, ACG8 <notifications@github.com> wrote:

[2015-03-03 15:51] sIKE23 commented on #151
This is done and ready for you!

On Tue, Mar 3, 2015 at 9:29 AM, Frederick Czajka <fczajka@pobox.com> wrote:

[2015-03-03 15:55] sIKE23 commented on #181
Yeah I don't see anything either though it "should" be exposed to
Python.....

On Tue, Mar 3, 2015 at 6:49 AM, ACG8 <notifications@github.com> wrote:

[2015-03-03 16:21] sIKE23 commented on #181
Yeah there is not....

On Tue, Mar 3, 2015 at 9:55 AM, Frederick Czajka <fczajka@pobox.com> wrote:

[2015-03-03 21:32] sIKE23 commented on #178
A filter for the Owning Mage would be a nice addition.

{} is now one with Asyra's Light!@Type=Creature,Subtype=Knight,Mage=Priestess

[2015-03-04 06:18] sIKE23 commented on #185
Just so you are aware, this has to be kept under wraps for now, I have been
given the OK to setup Academy to be playtested on OCTGN....hence the
request for the SBB....

On Mon, Mar 2, 2015 at 4:05 PM, Frederick Czajka <fczajka@pobox.com> wrote:

[2015-03-04 07:47] sIKE23 commented on #174
Can you look at my re-factored code in the dev\Upkeep folder and let me know if I am on the right track and solve one dilemma for me.

Say I cast Force Hold and Essence Drain on my opponents Blue Gremlin. During Upkeep I have to pay the Upkeep for the Force Hold and my Opponent has to pay the Upkeep for the Essence Drain. I am trying to use your functions as much as possible. Any ideas?

I haven't

[2015-03-04 12:08] ACG8 commented on #174
I would go with resolving upkeep for cards in initiative order (of course, then there is that weird Mind Control ruling, which requires an exception...ugh...). Have the player with initiative resolve upkeep on all their own cards and then have the other player resolve upkeep on theirs using remoteCall (if player is not the last player on the list, remoteCall(resolveUpkeep) on the next player). Not

[2015-03-04 16:13] sIKE23 commented on #174
I am not sure that the +0 is the right way to go, for Upkeep, the +X trait
for one card is the attached creatures level (I should be able to use
getAttachTarget() and then pull the card.level of the creature) and for the
other is the number of crush tokens on Stranglevine. (a simple if and look
at the number of crush tokens on the card).

So compute traits deals with who pays the upkeep on Essence

[2015-03-04 16:36] ACG8 commented on #174
*I am not sure that the +0 is the right way to go, for Upkeep, the +X trait
for one card is the attached creatures level (I should be able to use
getAttachTarget() and then pull the card.level of the creature) and for the
other is the number of crush tokens on Stranglevine. (a simple if and look
at the number of crush tokens on the card).*

+0 is just to avoid errors. If you want +X upkeep to be h

[2015-03-04 17:12] sIKE23 commented on #174
The more I think about it the more I am sure that Compute Traits is not
going to do what I need it to do. What you are saying is that if I control
a creature(Unicorn) and you put Force Hold on it (Upkeep +3) that I should
run computeTraits on the Unicorn and I will get back the amount of Upkeep I
should pay which should be 0 but will return 3. You are the player that
should be paying the 3 not me.

[2015-03-04 17:24] ACG8 commented on #174
No, that is not how it works. If you run computeTraits() on the Unicorn, it will return 0. If you run computeTraits() on the Force Hold, it will return 3. If you attach an Essence Drain to the Unicorn and then run computeTraits() on the Unicorn, it will return 2.

If each player only runs computeTraits on their own cards to determine the upkeep, each player will get the correct amount.

[2015-03-04 20:35] sIKE23 commented on #151
I should not be able to attach Force Hold to the Invisible Stalker.

[2015-03-04 20:40] ACG8 commented on #151
You mean because it can't be targeted? Right now, the invisible trait is left up to the players. Should it be enforced?

[2015-03-04 21:29] sIKE23 commented on #151
Not a targeting issue in that context, you can not attach it to a
creature with the Uncontainable trait....

On Wed, Mar 4, 2015 at 2:40 PM, ACG8 <notifications@github.com> wrote:

[2015-03-05 00:09] ACG8 commented on #151
Yes, you are correct. I'll fix that.

[2015-03-05 22:37] sIKE23 opened #189 "Move Player Setup Configuration to OCTGN Global Variables"
Right now when you reload your Scripts from the Dev console player setup is lost. Move these variables from python global variables to OCTGN global variables.

[2015-03-06 02:14] sIKE23 opened #190 "Automate Placement of Crush Tokens on Stranglevine and its Upkeep"
Had to automate the Stranglevine for Upkeep and this was the logical location and time to place the Crush Token.

[2015-03-06 05:31] sIKE23 commented on #148
Complete

[2015-03-06 05:31] #148 closed

[2015-03-06 05:37] sIKE23 commented on #150
Working as expected

[2015-03-06 05:37] #150 closed

[2015-03-06 06:23] sIKE23 commented on #142
This is fixed

[2015-03-06 06:23] #142 closed

[2015-03-06 06:27] sIKE23 commented on #169
Done

[2015-03-06 06:36] sIKE23 commented on #159
There is not a check for the Targeting Arrow, will put in a dev request for OCTGN. This one is done though, I am closing.

[2015-03-06 06:37] #169 closed

[2015-03-06 06:37] sIKE23 commented on #167
Done

[2015-03-06 06:37] #167 closed

[2015-03-06 06:37] #159 closed

[2015-03-06 06:37] sIKE23 commented on #154
Done

[2015-03-06 06:37] #154 closed

[2015-03-06 06:38] sIKE23 commented on #143
Done

[2015-03-06 06:38] #143 closed

[2015-03-06 06:39] sIKE23 commented on #126
Done, Great Work!

[2015-03-06 06:39] #126 closed

[2015-03-06 07:19] sIKE23 commented on #153
It is now working, but I have a flow issue of when you add the Marker to the Prism and when you pay the Upkeep. Right now adding the Marker is done before paying the Upkeep. Should be the other way around. I will have to chew on it a bit to work out all of the details.

[2015-03-06 14:24] ACG8 opened #191 "Phases not working properly"
Phases are no longer working properly. Pressing Ctrl+Down does not always take the player to correct phase. Probably easiest just to open OCTGN with 2 players (or yourself, with 2 instances of OCTGN running) and go through the phases to see what I mean.

[2015-03-07 06:46] sIKE23 opened #192 "Changing Phases is not Working correctly"

[2015-03-07 13:07] ACG8 commented on #183
I'm getting close to a workable format. I think the each creature dictionary should store basic properties of the creature and also functions, tied to named events. Buffs will be handled as events that update a global "gameState" dictionary, containing all the information on the present state of the game. Each time a player makes a choice, the game state will be updated; this should greatly reduce

[2015-03-08 22:04] ACG8 commented on #188
Just a heads-up; I've decided to do this for Q1. There isn't actually that much to do. It will take a little while, but there are other issues we need to fix before the alpha release anyway.

[2015-03-09 16:38] sIKE23 commented on #166
I now think that since you have the zone stuff worked out for regular boards I no longer need to convert each board into cards. Should we just leave Domination tiles and remove the other ones I created?

Next question is how does the zone mapping work? I assume we are all good on the two 3x4 maps, what about the others 6x4, 4x5, 4x4, 2x3, and 3x3.

If you need something like x/y size let me know a

[2015-03-09 20:16] sIKE23 opened #193 "Apprentice Wizard Stats and Spellbook are not correct"

[2015-03-09 20:27] sIKE23 commented on #193
b03f5fc5a4e04e1c309c28707960615a128b56a5

[2015-03-09 20:27] #193 closed

[2015-03-10 00:06] ACG8 commented on #166
I think it would be best to remove the non-modular tiles. I'm sorry that so much of your work will be wasted doing this; it is a shame, but I think that aside from the filesize problems, maps are better as images than cards (hopefully the OCTGN dev team will give us the ability to make modular boards without using cards by Q2).

I made a function to define simple maps, so that can be used for zone

[2015-03-10 04:26] sIKE23 commented on #192
Dupe

[2015-03-10 04:26] #192 closed

[2015-03-10 04:32] sIKE23 commented on #166
When we are done testing we can pull the setDRAIP() function and its old calls out of the code

[2015-03-10 04:44] sIKE23 commented on #166
do you think the Tile Cards should stay as their own set.xml file or should they all go in the domination set.xml?

[2015-03-10 08:39] ACG8 commented on #166
I think they should have their own set.xml. Best to keep board tiles and cards separate.

[2015-03-10 16:23] ACG8 opened #194 "Remove TAB-Targeted Attacks?"
Now that attacks can be easily declared using arrows, I think it might be a good idea to remove the option to declare attacks with TAB and a targeting reticle. TAB would still be used for dice rolls, of course, and I think it could be repurposed for untargeted abilities, but it is clunkier than using an arrow when it comes to declaring attacks. Deleting it will also reduce maintenance. Thoughts?

[2015-03-10 16:34] sIKE23 commented on #194
I agree the Tab should just a generic roll dice feature mainly for those
who turn off the BC.

On Tue, Mar 10, 2015 at 11:24 AM, ACG8 <notifications@github.com> wrote:

[2015-03-10 16:40] ACG8 commented on #194
Right. I will remove the attack code from that. I might also add code for activating creature special abilities (such as necropian vampiress flying ability) using TAB; do you think it would work well as the key for that, or would it be too confusing given the tableAction use for TAB?

[2015-03-10 16:52] sIKE23 commented on #194
Are talking about things like Bim-Shala? Might move the dice roll back to
only F1 and have Tab be the Special Actions key?

On Tue, Mar 10, 2015 at 11:40 AM, ACG8 <notifications@github.com> wrote:

[2015-03-10 17:12] sIKE23 commented on #166
Can we add in another category for Domination?

V'Tar Needed to Win:

[2015-03-10 17:12] ACG8 commented on #194
Well, TAB is very convenient when you just need to roll dice. And F1 is a really inconvenient key; if we could use SPACE, that would be much better. Is there perhaps another key suited to special abilities?

Don't think Bim-Shalla will be implemented until Q2; this is mostly for simple things like Necropian Vampiress, Blue Gremlin, etc. that do not require declaring a target for the ability.

[2015-03-10 17:16] sIKE23 commented on #166
We also need to add in a marker section for Orbs, Secret Passage and Spiked Pits

[2015-03-10 17:28] sIKE23 commented on #194
I am not going to mess with your baby, as for another appropriate key I am
not sure. Ctrl + Tab maybe?

On Tue, Mar 10, 2015 at 12:12 PM, ACG8 <notifications@github.com> wrote:

[2015-03-10 17:37] sIKE23 commented on #166
Let me re-phrase my last Hasty Statement. Orbs are already handled so ignore that bit. Spiked Pit is a Special case there is a marker that is placed on this zone at game setup. We need to automate this by adding in the placement of the marker when the tile is placed. This leads to Secret Passage which is also a marker and will need a way of being placed.

I propose we add #markerset1# section. The

[2015-03-10 18:22] ACG8 commented on #166
Why can't we just assume that each zone receives the markers appropriate to that zone? The zones themselves determine which markers they have, so we could just add exceptions for Spiked Pit and Secret Passage, rather than making another section.

I don't know about the V'tar needed to win section. What if players want to adjust the length of the game? I feel like it would be better to let them dec

[2015-03-10 18:24] ACG8 commented on #194
I don't know, I feel like it should be just one key...why don't we use TAB for now, and see if anybody reports confusion.

[2015-03-10 18:40] sIKE23 commented on #166
I am fine with Zones determining which Markers they get but there is only
one Zone like that, Spiked Pit. Secret Passage is just a Marker now and can
be placed on any tile.

"V'Tar need to win" is a win condition needed for a given map. Each of the
Maps from the Domination has this as a Win condition.On the OCTGN side I
was thinking about adding in a  I was thinking about adding in logic for
the w

[2015-03-10 18:47] ACG8 commented on #166
All right, sure. But we should include some way for players to modify the V'tar needed to win for a given map.

[2015-03-10 18:59] sIKE23 commented on #166
So I am thinking it could be #GameType:Dom# and #WinCondition:14# something
like that and they would be read into
OCTGN GlobalVariables of the same name?

What are your thoughts on the Secret Passage markers. The only reason I am
asking is because the 1st Domination map has an Orb and a Secret Passages
on the same tiles.....

</sIKE>

On Tue, Mar 10, 2015 at 1:47 PM, ACG8 <notifications@github.com

[2015-03-10 21:19] ACG8 commented on #166
Yes, I suppose we will need a "Markers" category then.

We don't really need new GlobalVariables; we can just store the game type and the win condition in the dictionary object that contains the map definition.

And best to spell out the scenario: "Domination". No need to be stingy on the characters.

[2015-03-10 21:39] sIKE23 commented on #166
Example then?

On Tue, Mar 10, 2015 at 4:19 PM, ACG8 <notifications@github.com> wrote:

[2015-03-10 21:46] ACG8 commented on #166
Of what?

[2015-03-10 21:47] sIKE23 commented on #166
how the #map# would look

On Tue, Mar 10, 2015 at 4:46 PM, ACG8 <notifications@github.com> wrote:

[2015-03-10 21:47] sIKE23 commented on #166
you don't have to write the code just the idea of how it would work....

On Tue, Mar 10, 2015 at 4:46 PM, Frederick Czajka <fczajka@pobox.com> wrote:

[2015-03-10 21:56] ACG8 commented on #166
Well, like you said, we would just add a section for markers:
[code]

Then create a dictionary of markers:
[code]

We should probably not look for ```#```, though, for the values; better to use a new indicator. For instance:

[code]

(Where 9 can be replaced by the amount of V'tar needed to win; Domination scenarios will result in automatically assuming that V'tar is the goal). If no scenario is s

[2015-03-12 05:29] sIKE23 commented on #191
I have been re-working the Phase management for the last couple of days, time permitting. I have a good idea (mostly) of what I need to do to get it done. The problem is it all intertwined with player colors and initiative markers also, the whole thing is one big bolted on piece of spaghetti code with tendrils everywhere. I have been going down the rabbit hole for a bit now, but this ends up with

[2015-03-12 05:46] sIKE23 opened #195 "Fix issue with losing your player color when you disconnect and reconnect"
Currently this is stored as a python global variable, it needs to be stored as a OCTGN Global Variables which persist between disconnects.

[2015-03-12 11:44] ACG8 commented on #191
Okay, great. I am in no particular hurry to release alpha, so best to make sure that everything works properly.

[2015-03-16 04:26] ACG8 commented on #184
Now covered by #188.

[2015-03-16 04:26] #184 closed

[2015-03-16 18:09] sIKE23 commented on #188
Spellbind costs are not being calculated.......

[2015-03-16 18:44] sIKE23 commented on #127
How about we add this as a menu item to the New Feature Menu?

[2015-03-16 18:47] sIKE23 commented on #127
Schwenkgott's thoughts on this....

![new feature menu](https://cloud.githubusercontent.com/assets/5695175/6673634/aacc0bca-cbe2-11e4-990b-1e16a65389f7.jpg)

I can see making the button text simpler, what about splitting Searchable Codex and Rulings/Clarifications into two buttons? Your thoughts?

[2015-03-16 18:48] sIKE23 commented on #181
Schwenkgott's thoughts on this....

![new feature menu](https://cloud.githubusercontent.com/assets/5695175/6673634/aacc0bca-cbe2-11e4-990b-1e16a65389f7.jpg)

I can see making the button text simpler, what about splitting Searchable Codex and Rulings/Clarifications into two buttons? Your thoughts?

[2015-03-16 18:49] sIKE23 commented on #181
The other issue, is if you are not the card controller you do not get the Rulings/Clarifications context menu item. I am not sure if you can do anything about it though.

[2015-03-16 18:52] sIKE23 commented on #188
The caster of the spell is not correct here....
![new jpeg image 2](https://cloud.githubusercontent.com/assets/5695175/6673757/915a3a76-cbe3-11e4-97c9-361c35859ea3.jpg)

I paid the 5 mana but I was not the Forcemaster.....

[2015-03-16 19:20] ACG8 commented on #188
Without more context, I'm not sure I can diagnose the problem.

[2015-03-16 19:22] sIKE23 commented on #188
I cast the Wall of Thorns and paid for it, and got:

Forcemaster conjures Wall of Thorns!

My opponent was the Forcemaster and I was playing the Wizard.

[2015-03-16 19:29] sIKE23 commented on #166
The maps I am committing will not work until you get these updates done....

[2015-03-16 22:05] ACG8 commented on #188
Pretty sure I know what the problem is, then; I'll see about fixing it.

[2015-03-16 22:13] ACG8 commented on #181
Oh, that is a shame. You are right though; I don't think I can do anything about that. I could at least give players a way to search for rulings/clarifications by name.

I think that is a good point about button text. I can see about simplifying it (or you could, of course; maybe you have a better idea of what to put),

[2015-03-16 22:14] ACG8 commented on #166
Yeah, I'll take care of it.

[2015-03-16 22:15] ACG8 commented on #127
Sure, go ahead. Not really a new feature (targeting arrows/reticles), but definitely significantly more functional than it used to be.

[2015-03-17 05:33] sIKE23 commented on #144
Was testing this evening, Unicorn vs. Gargoyle (with Guard token). I moved the Unicorn into the zone with the Gargoyle and "attacked." BC is on and since it doesn't calculate for Charge I choose other Dice Amount, then choose 5 dice and nothing happens. The Dice do not roll, no error messages, like nothing happened.

Second issue much less pressing though, our favorite buddy the Gargoyle, when on

[2015-03-17 05:49] sIKE23 commented on #191
The second player is not able to signal that they are done with the current Phase and the game will not advance to the next phase as a result.

[2015-03-17 05:58] sIKE23 commented on #127
This is already in the BC section on new features, closing this out.

[2015-03-17 05:58] #127 closed

[2015-03-17 11:08] ACG8 commented on #144
1. The BC does take charge into account. It just doesn't add the bonus until after you select the attack, since a prompt is needed to determine whether the creature moved. Do you think the prompt should be given when selecting the target, then?

2. Fixed the problem preventing dice from being rolled; will upload with next commit.

3. No, armor and guard are being computed correctly. Expected damag

[2015-03-17 11:38] ACG8 commented on #191
Solved. The problem was that global variables are stored as strings, so in the line

[code]

gameIsOver will always evaluate to True, because it is a non-empty string (that happens to be "False"), as opposed to the boolean False.

I'll upload this with my next commit.

[2015-03-17 15:10] sIKE23 commented on #144
I had the Wizard Attack both the Gargoyle and Unicorn with an Arc Lightning
and got the same percentages. I will re-test and trying again.

On Tue, Mar 17, 2015 at 6:08 AM, ACG8 <notifications@github.com> wrote:

[2015-03-17 15:17] sIKE23 commented on #191
Yep that makes total sense, OCTGN does some weird things that I keep
forgetting about.

On Tue, Mar 17, 2015 at 6:38 AM, ACG8 <notifications@github.com> wrote:

[2015-03-17 15:18] ACG8 commented on #144
The same percentages for both the Daze and the Stun effects, or just for the Daze?

Generally, tough will reduce the probability of the higher effect (Stun), but will leave the lower one (Daze) unchanged.

[2015-03-17 16:13] sIKE23 commented on #144
I was testing late last night with out phase management (movement
calculations not working). Let me re-test to verify my findings.

Was just testing the Unicorn vs. Gargolye using the BC. I see what you did
and it does work, though I had no way to intuit that it was going to work
that way. I am not sure if you could move the Charge prompt to before the
BC prompt, it then should calculate the Avera

[2015-03-17 19:35] sIKE23 commented on #144
How hard are you wanting to look at the Battle Calc for corner cases this
time around? Example, the Temple High Guard, he reorders when he can
counter strike and while on Guard he gets Melee +2. I know we are looking
at revamping how card works the next time around.

</sIKE>

On Tue, Mar 17, 2015 at 11:12 AM, Frederick Czajka <fczajka@pobox.com>
wrote:

[2015-03-17 23:24] ACG8 commented on #144
I think I am good on corner cases for Q1; I have (I think) all the mage abilities, and those are the main things. Not intending to implement temple high guard.

[2015-03-18 05:57] sIKE23 opened #196 "Ties durning Auto-Roll for Initative are no longer being resolved"
I took a look but don't see anything that would keep this from working...

[2015-03-20 23:42] ACG8 opened #197 "Reported Bug: Chat text not visible"
Imaginator reports the following problem:

"Lately I've sometimes encountered a bug where I lose the ability to see any new text in the chat box at a certain point in the game. I can still enter text but I can't see what I type. I've had to open separate private message windows to communicate with my opponent. The game I just finished was really awesome and I want to keep the gamelog, but I can't

[2015-03-21 00:23] sIKE23 commented on #197
The game log is lost. At some point what I like to do, and this was
something lettucemode wanted to do :( was to capture the game stats to a
stats server, he even got a webpost (
https://github.com/kellyelton/OCTGN/issues/1277) added as a feature to
implement this. One thought is to:

def chatmsg(str):
    notify("{}".format(str))
    <add str to (what type of?) variable>

def privatechatmsg(str):

[2015-03-21 00:51] sIKE23 commented on #191
You un-did work I did for the release specifically, Mage Channeling (#122). I asked which way you wanted me to go with this feature, do add to the mages channeling? If so we have to track for deletion of Mana Flower/Crystal and Harmonize on the mage. You said lets don't mess with that and go the way we do it with non-mages.

I agree we can do it better next quarter with your proposed solution but

[2015-03-21 00:51] sIKE23 commented on #191
If we don't want it invisible we change from Whisper to Notify....

[2015-03-21 05:54] sIKE23 commented on #187
This is one of the items I would like resolved when you refactor the SBB code.

I am referring to the <section name="Mage" shared="False"> in the xml of the spellbooks o8d file.

[2015-03-21 12:24] ACG8 commented on #191
I'm sorry, you're right. I had completely forgotten about that. I do now think that adjusting channeling is the better way to go, though.

[2015-03-21 15:08] sIKE23 commented on #191
If I came across as cross, I had been on a road trip for two days with my
kids, and I was grouchy as a result. I apologize for not being a bit more
even keel. Thanks very much for fixing the issue.

I really wish some of the error messages were bit less cryptic, I know many
of the issues as of late have been from my coding more than anything else.

//FC

On Sat, Mar 21, 2015 at 7:24 AM, ACG8 <noti

[2015-03-21 15:15] ACG8 commented on #191
No worries! We all have off days.

I know what you mean about the error messages. My debug method mostly involves putting debug messages everywhere, but it takes forever.

[2015-03-21 15:26] sIKE23 commented on #191
That is what I do too, but I had no clue of where to start for those marker
messages other than I changed something that is now causing this, but what
I am learning is that most if the marker messages are due to the player not
being the card controller.

I am getting better at reading and understanding your code, it is so far
beyond those who came before you.

</sIKE>

On Sat, Mar 21, 2015 at 10:1

[2015-03-22 14:56] sIKE23 commented on #196
Had this happen twice while testing. I worked on this last night by forcing a roll f 5 from both players and it never stalled out. I am going to leave this open for now to capture if it happens again.

[2015-03-23 00:49] sIKE23 commented on #170
This is done though it will be pulled from the Q1 release waiting on Kelly to implement:

https://github.com/kellyelton/OCTGN/issues/1389

Will pull this over in to the Q2 release.

[2015-03-23 01:00] sIKE23 commented on #144
Testing with Schwenkgott today, we saw an issue with the Flaming Hellion it rolled 5 dice and it should of only rolled 4. I suspect that the Mages ring buffed the Hellions attack.....

![new jpeg image](https://cloud.githubusercontent.com/assets/5695175/6772493/cbb0d2f4-d0cd-11e4-97c1-7423ef823743.jpg)

[2015-03-23 12:10] ACG8 commented on #144
I can't quite read the cards attached to priest, but is one of them a curse? If so, the the Adra Warlock's Smoldering Curses ability would give the Priest the Flame +1 trait, which would explain the extra attack die.

[2015-03-23 14:05] sIKE23 commented on #144
The two Enchantments are Harmonize (testing the Channeling) and Bear
Strength. I will make sure next time to grab the game log.

Any more thoughts on the logging idea I proposed?

</sIKE>

On Mon, Mar 23, 2015 at 7:10 AM, ACG8 <notifications@github.com> wrote:

[2015-03-23 18:55] sIKE23 commented on #144
I was able to reproduce the issue:

![flaming hellion game test issue](https://cloud.githubusercontent.com/assets/5695175/6787905/d2e4622a-d163-11e4-8d0b-1b8130add0b1.jpg)

Game log is on the dev share under the testing folder or you can just go here:
https://www.dropbox.com/s/4bcl91k1y7fzxh5/Flaming%20Hellion%20Game%20Test%20Log.txt?dl=0

[2015-03-23 18:55] ACG8 commented on #144
You were right; the ring was the problem. Fixed now.

Regarding the logging idea: sounds good. Having a server to keep track of stats would be extremely useful.

[2015-03-23 18:58] sIKE23 commented on #144
Are these feasialbe?

def chatmsg(str):
    notify("{}".format(str))
    <add str to (what type of?) variable>

def privatechatmsg(str):
    whisper("{}".format(str))
    <add str to (what type of?) variable>

def debug(str):
    global debugMode
    if debugMode:
        whisper("Debug Msg: {}".format(str))
        <add str to (what type of?) variable>

the <add str to (what type of?) variable> i

[2015-03-23 19:08] sIKE23 opened #198 "Make reading the Chat log eaiser"
Right now this is how the log looks:

We switch back and forth between the Mage and Players name. I think what we should do is use the Mages Name for almost all of the Chat Logging. At the beginning of the game (OnDeckLoad) we should say something like: sIKE23 is playing the Priest and Schwenkgott is playing the Adramelech Warlock. The only problem of course is mirror matches.....I will put some t

[2015-03-23 19:11] ACG8 commented on #144
Okay. I see nothing wrong with that. As for what type of variable it should be, I think a list would be best, since it maintains the ordering and is easy to update. You could probably store it as a string in the OCTGN global variables (call it "GameLog" or something), and then export it as a .txt file upon request or when the game finishes. The name of the text file could be autogenerated, using t

[2015-03-23 19:17] ACG8 commented on #198
We could put the controller's name in parentheses when it is not clear to whom a message refers:

```Priest (sIKE23) readies Quick Cast action```

Also, do you mind if I remove the quotes from around the names of creatures (```'Adramelech Warlock'``` vs ```Adramelech Warlock```)? They bother me.

[2015-03-23 19:20] sIKE23 commented on #198
I have no issues with that a simple find '{}' and replace {} should do the
trick.

I like the idea of Priest (sIKE23) we would test after everyone has
completed OnLoadDeck though to test and it would have to test for multiple
players....

On Mon, Mar 23, 2015 at 2:17 PM, ACG8 <notifications@github.com> wrote:

[2015-03-23 19:20] sIKE23 commented on #144
That makes a lot of since would we do the following for debug and private?

def privatechatmsg(str):
    mute()
    GameLog = eval(getGlobalVariable('GameLog'))
    whisper("{}".format(str))
    GameLog.append(str)
    setGlobalVariable('GameLog', str(GameLog))

def debug(str):
    mute()
    global debugMode
    if debugMode:
        GameLog = eval(getGlobalVariable('GameLog'))
        whisper("D

[2015-03-23 19:24] sIKE23 commented on #198
This is the logic that I need to learn in python:

I have 5 players and I need to test the same variable for each player

whether it be True/False who's has the largest or smallest number or to see
if any of the 5 have a duplicate string (like Mage Name)

On Mon, Mar 23, 2015 at 2:20 PM, Frederick Czajka <fczajka@pobox.com> wrote:

[2015-03-23 19:24] ACG8 commented on #144
Yes, assuming we want both of those to appear in the final log.

[2015-03-23 19:26] sIKE23 commented on #144
Do you assume not? I think they should do you have any reason why we
shouldn't?

On Mon, Mar 23, 2015 at 2:24 PM, ACG8 <notifications@github.com> wrote:

[2015-03-23 20:00] ACG8 commented on #144
No, I don't have any reason why we shouldn't.

[2015-03-23 20:22] sIKE23 commented on #197
Closing - #198 will fix this long term

[2015-03-23 20:22] #197 closed

[2015-03-23 20:23] sIKE23 commented on #194
This is done and working as expected!

[2015-03-23 20:23] #194 closed

[2015-03-24 04:59] sIKE23 opened #199 "Creature placement not working when laying out the map"

[2015-03-24 05:04] sIKE23 opened #200 "Mutiple Objects (Markers) in the same zone"
Right now we only handle duplicate objects that are the same object in the same zone. We already have cases where we have a V'Tar Orb Marker and Secret Passage Marker in the same zone. I have proposed a #Markers# Section to handle this.

The other option is to assign a letter and a GUID of one of the two objects and have python handle the back end.

Thoughts?

[2015-03-24 05:07] sIKE23 opened #201 "Handle Domination Win Conditons"
This is from the conversation in #166

@Scenario=[Domination,9]

(Where 9 can be replaced by the amount of V'tar needed to win; Domination scenarios will result in automatically assuming that V'tar is the goal). If no scenario is specified, it defaults to Standard deathmatch.

[2015-03-24 05:08] sIKE23 opened #202 "Custom Map Building Document"
Write up how to build custom Maps using the Domination features.

[2015-03-24 05:17] sIKE23 opened #203 "Custom Map Building error prevention"
How will the game handle errors like:

..1..
..2.
3..
#Map#
*o
*******
ooQoooo
#Objects#

So layouts where objects don't match tile layouts etc,etc.

I was thinking that at a minimum that you could add a grid size to enforce
@Scenario=[Domination,9]
@Grid=[4,3] or @Grid=4,3 or @Grid=[4x3]
or
@Scenario=[Domination,9,4x3]

or some like permutation

the other issue is if there is a character in the s

[2015-03-24 15:31] ACG8 commented on #203
At the moment, I don't think we need to worry too much. It will most likely result in an error, but most players will not be making their own maps, and those that do are likely to make sure they work. I'll take a look later, but I don't think we should do anything on the map side of things.

Fairly busy at the moment, so I may not have time to look at domination stuff for a while.

[2015-03-24 15:54] sIKE23 commented on #203
That is fine as always do what you can when you can, I was thinking this
work for mid/late-April

</sIKE>

On Tue, Mar 24, 2015 at 10:31 AM, ACG8 <notifications@github.com> wrote:

[2015-03-25 05:08] sIKE23 commented on #191
Got another Inconsistent state. Marker not found on card. Issue

Game Log is here: MageWars-Dev\Testing\Inconsistent state.txt

I think it is the Harmonize on the Battle Forge.

[2015-03-25 09:48] ACG8 commented on #191
The problem occurred when you attempted to harmonize the Battle Forge (or any other channeling object) belonging to another player. Fixed by changing the way Harmonize is recognized.

[2015-03-25 09:50] ACG8 opened #204 "Phase marker overlaps board"
Due to the recent change in phase marker sizes, the Phase Marker now overlaps the board when placed in the "Side" position.

[2015-03-25 14:17] sIKE23 commented on #204
Already have that fixed, There is something wrong with Github that I am
trying to figure out.

On Wed, Mar 25, 2015 at 4:50 AM, ACG8 <notifications@github.com> wrote:

[2015-03-25 14:18] sIKE23 commented on #191
That was the Priests Battleforge who Harmonized it.

On Wed, Mar 25, 2015 at 4:48 AM, ACG8 <notifications@github.com> wrote:

[2015-03-25 15:53] ACG8 commented on #191
Well, let me know if it happens again.

[2015-03-25 18:41] sIKE23 opened #205 "When a game is reset Phase and Initative Markers are not re-created"
@ACG8 - I will look to see if I can fix it

[2015-03-25 20:19] sIKE23 commented on #205
Must of been a one time thing, unable to reproduce now.

[2015-03-25 20:19] #205 closed

[2015-03-26 05:04] sIKE23 commented on #144
Did almost an hour tonight putting the BC through the paces. I have to say very nice work. Dazes work perfectly. Though Stun markers still allow the creature to attack. This item can added as an Enhancement for the Q2 release if you think it is a good idea.

When a creature uses an attack using the Arrow how hard would it be to Exhaust his Action Marker. Much like the Stun item above a creature wi

[2015-03-26 11:25] ACG8 commented on #144
Yes, those sound like good ideas. Right now, we are mostly relying on players to take care of markers (I was working under the assumption that players would not order their stunned creatures to attack anything), but there are definitely quite a few cases where we should auto-handle markers. Auto-exhausting action markers would not be difficult at all, but let's leave it for Q2 anyway.

[2015-03-26 21:06] sIKE23 commented on #144
Two items from todays game (full game) with Schwenkgott:

[2015-03-26 22:35] ACG8 commented on #144
Regarding Critical Strike: It was overlooked. I'll add it in.

Regarding Lion Savagery timing: Lion Savagery has 2 effects; Charge +2 and Piercing +1. Charge +2 is relevant before rolling dice (to modify the number rolled). Piercing +1 is relevant after rolling dice (to boost damage once you have seen how much normal vs. critical damage is done). The choice of whether to reveal it is thus relevant

[2015-03-26 23:19] ACG8 commented on #144
Okay, I added Critical strike. Also, I moved the charge prompt to before the attack menu. Let me know if you think this works better; I left the old code in (but commented out), so it would be easy to change back. This means, of course, that Lion Savagery will need to be revealed before declaring an attack in order to get the charge bonus. Therefore I deleted the pre-dice roll prompt, leaving only

[2015-03-27 02:06] sIKE23 commented on #144
On a solo game it is looping the attack. Had to join as a spectator to get the Chat Log....

Bloodcrag Minotaur inflicts 4 damage on Orc Butcher! (an above average roll)
Bloodcrag Minotaur attacks Orc Butcher with Horns!
sIKE23 rolls 4 attack dice
sIKE23 rolled 1 normal damage, 0 critical damage, and 4 on the effect die
sIKE23 has elected not to apply auto-calculated battle results
Bloodcrag Minot

[2015-03-27 05:14] sIKE23 commented on #144
Look at the chat log in testing folder on the Dropbox\MageWars-Dev\Testing\LoopingAttacks.txt

Luckily with two-players you can discard one of the two offenders to break the loop. I have been able to reproduce this a couple of times tonight. A Unicorn with Lion Savagery and a Minotaur with Lion Savagery melee attacking each other.

[2015-03-27 05:28] sIKE23 opened #206 "Handle 1 Sslak and 1 Usslak in the same zone"
Almost done making all of the maps. Ran across this one tonight.

[2015-03-27 05:30] sIKE23 commented on #196
Happened three times tonight, when I finally added some notifies into actions.py it didn't happen again. Will see if I can make it happen again tomorrow. Did get an error msg along the way though...
![initative issue](https://cloud.githubusercontent.com/assets/5695175/6863037/7aaec958-d418-11e4-9296-e907787b4d04.jpg)

[2015-03-27 10:46] ACG8 commented on #206
I've been thinking about the best way to handle multiple objects. I've decided that the current format (placing them on grids) is not the best way. It would be better to assign each one a location individually.

For instance, we might write:
[code]
to place an Usslak in zone [1,1]. The same method could be used for markers. This allows us to place as many creatures/markers in a zone as we want.

T

[2015-03-27 12:50] ACG8 commented on #144
Okay, I'll take a look. I can't imagine what the problem could be; perhaps my last change resulted in something unexpected. Probably won't be able to get to it until this evening at the earliest, though.

[2015-03-27 14:55] sIKE23 commented on #206
Yeah it is such a shame cause the Grid format is such an easy way to organize the data. The only other thing I came up with was to have multiple of the same section. So #Creatures# and if needed #Creatures2#.

[2015-03-27 15:36] sIKE23 commented on #206
The thought with my previous comment would be:

 for most maps and if needed you could

Your processing statement would then use a for loop with a len statement populated with the @Creatures value.....

We would have to Change #Creatures# to #Creatures1# I would think if we were to go this route.....

[2015-03-27 15:44] ACG8 commented on #206
I would rather just eliminate ```#Creatures#``` altogether, and add objects individually.

For example, "Blasted Lands" would look like:
[code]

Now that I think about it, this could be simplified somewhat with sets:

[code]

[2015-03-27 15:49] sIKE23 commented on #206
Would we change the Dictionary's from s to Sslak? And the same for the
other ones?

On Fri, Mar 27, 2015 at 10:44 AM, ACG8 <notifications@github.com> wrote:

[2015-03-27 15:57] sIKE23 commented on #206
One suggestion, I know it is a python thing to start at 0 but it might be
smarter for us to use 1 thru 4 instead of 0 thru 3 and the script just has
a  - 1 (minus) to make the numbers python friendly.

You could also have two Dictionary's one for map pieces and one for
everything else...

On Fri, Mar 27, 2015 at 10:49 AM, Frederick Czajka <fczajka@pobox.com>
wrote:

[2015-03-27 15:59] ACG8 commented on #206
Yes, though the usage of the dictionaries would be a bit different. Rather than scanning through a grid and replacing each character with the corresponding dictionary entry, we would create a given object (such as a Sslak at the declared locations. Dictionaries are still the best way to handle this, though (honestly, most problems are best solved with dictionaries).

As for your suggestion, I was

[2015-03-27 16:10] sIKE23 commented on #206
BTW Blasted Lands is an excellent example. As it has dupes...

@Scenario=[Domination,14]

*...
45..
..28
...*
#Map#

@Orb=[(1,2),(2,1),(2,3),(3,2),(3,4),(4,3)]

@Sslak=(1,2),(2,1),(2,3),(3,2),(3,4),(4,3)]

@SecretPassage=[(1,2),(4,3)]

@StartPosition1=(1,4)
@StartPosition2=(4,1)

The nice thing about this solution is you can handle Orbs and Secret
Passage as markers (the same size) from a layout a

[2015-03-27 16:17] orb commented on #206
Could you be more careful with your `@mentions`? Thanks... :)

[2015-03-27 16:23] sIKE23 commented on #206
Opps sorry I thought that I made them a quote...still get caught with the
Markdown stuff sometimes.

On Fri, Mar 27, 2015 at 11:17 AM, Norman Richards <notifications@github.com>
wrote:

[2015-03-27 19:16] ACG8 commented on #206
Ha ha ha...

[2015-03-28 00:34] ACG8 commented on #144
I have identified the problem (something is interfering with the way attacks keep track of what the unmodified attack was), but it is resisting my attempts to fix it. This puzzle will take a bit more time to solve.

[2015-03-28 13:49] ACG8 commented on #144
I finally managed to fix it. The problem was that the copy of the original attack made in computeAttack was not deep enough, and was still referring to the original attack traits sub-dictionary object (rather than creating a copy of it). I don't suppose there is any chance we can import the ```copy.py``` module, is there? I really miss ```deepcopy().```

[2015-03-28 13:50] ACG8 commented on #144
Also, though I don't think my fix should affect other things, be on the lookout for unexpected behavior for attacks that make multiple strikes, just in case.

[2015-03-28 14:07] sIKE23 commented on #144
That is good to know, as I tested the Hydra the other day without incident
I will give it another round of testing here soon.

On Sat, Mar 28, 2015 at 8:50 AM, ACG8 <notifications@github.com> wrote:

[2015-03-28 14:33] sIKE23 opened #207 "Add the python copy module"

[2015-03-28 14:34] ACG8 commented on #207
Thanks! This will make working with dictionaries a lot easier (among other things).

[2015-03-28 14:35] sIKE23 commented on #207
If you need any more let me know

On Sat, Mar 28, 2015 at 9:34 AM, ACG8 <notifications@github.com> wrote:

[2015-03-29 15:34] sIKE23 commented on #200
Closing - #206 will cover this now

[2015-03-29 15:34] #200 closed

[2015-03-29 15:35] sIKE23 commented on #206
Updated title to reflect all it encompasses

@ACG8

[2015-03-29 17:12] sIKE23 commented on #166
I also put a return statement in on the Load Map function so it doesn't do anything other than notify that it is a New Feature Coming soon.....so if you do any work on this make sure you comment out those two lines.

[2015-03-30 05:11] sIKE23 commented on #144
For Mages, when using either an attack spell (Sunfire Burst/Fireball/Acid Ball were tested) or Ranged Attack (Ivarium Longbow tested), the dice roll happens but the Apply Damage prompt doesn't not appear. The apply damage prompt does work for Mages melee attacks. Dazes that were rolled are applied.

Other testing notes:

Darkfenne Hydra - Triple Strike works as expected
Gorgon Archer - Works as ex

[2015-03-31 16:16] ACG8 commented on #144
```For Mages, when using either an attack spell (Sunfire Burst/Fireball/Acid Ball were tested) or Ranged Attack (Ivarium Longbow tested), the dice roll happens but the Apply Damage prompt doesn't not appear.```

```Gorgon Archer - Works as expected, however she was able to land a Weak Marker (included in the BC pre-roll prediction) on a Skeletal Sentry which is Poison Immune.```

Both issues shoul

[2015-04-02 05:00] sIKE23 commented on #207
Is this working and ready to be closed?

[2015-04-02 05:25] sIKE23 commented on #144
Is it possible to convert the code in lines 772 - 776 in attacks.py into a dedicated creature/conjuration death check? Why? During Upkeep we process Burns/Rot/Bleed/Etc and apply damage it would be very cool to be able to notify a Death Msg if the applied damage would kill the creature.

[2015-04-02 05:50] sIKE23 commented on #144
If you have Bear Strength hidden on a creature or mage when it starts the attack sequence, you are prompted to see if you want to reveal it, if you say yes, you are prompted to pay for the enchantment, it is revealed but the melee bonus is not applied to this attack sequence. It is applied to the next one  though.

[2015-04-02 05:55] sIKE23 opened #208 "Resolve Inconsistent Markers error message during Upkeep"
@ACG8

[2015-04-02 13:26] ACG8 commented on #144
Yes, it is. The one (minor) complication is that the getRemainingLife function requires passing a creature dictionary, which means calling the computeTraits() function. ComputeTraits() is useful for other things as well, but calling it too many times may cause noticeable lag. The way to solve this would be to call it exactly once for each object in play, store the resulting dictionaries in a list,

[2015-04-03 23:04] ACG8 commented on #207
Yes, it works. Still figuring out the enchantment bug, though.

[2015-04-03 23:04] #207 closed

[2015-04-04 16:42] sIKE23 commented on #144
Schwenkgott tested with Mystery today:

![schwenkgotts issues](https://cloud.githubusercontent.com/assets/5695175/6993621/8ee39c66-dabf-11e4-84dd-d9211c0f9c1a.jpg)

![sectarus attack](https://cloud.githubusercontent.com/assets/5695175/6993619/8b2830b4-dabf-11e4-9d1b-7f2aef50281f.jpg)

[2015-04-04 20:43] ACG8 commented on #144
I find it odd that (6) worked even once, as I never coded for Agony at all (an oversight that I will fix, of course).

[2015-04-04 23:04] ACG8 commented on #144
Fixed everything except problem (4) which (as noted) is complicated. I'll open a separate issue for that.

[2015-04-04 23:05] ACG8 opened #209 "Initiative order for enchantment reveal prompts"
Game should prompt for enchantment reveals in initiative order.

[2015-04-07 05:14] sIKE23 commented on #208
@ACG8
Have you seen anymore of these error messages since I made these updates?

[2015-04-07 05:15] sIKE23 opened #210 "Guard Marker is handled as a Toggle Marker it should be handled as an Add/Remove Marker"

[2015-04-07 10:30] ACG8 commented on #210
Should it, though?

Guarding is a state which may be on or off. To the best of my knowledge, there is no way for a creature to have multiple guards, nor a way to use them. This would seem to more appropriately be handled as a toggle rather than an add/remove. For markers like Burn, where a card can have multiple copies (and having multiples is relevant), add/remove is needed because you need to be

[2015-04-07 10:30] ACG8 commented on #208
No. I haven't been testing for them, though.

[2015-04-07 13:48] sIKE23 commented on #210
There is no off side of the guard marker, when the creature starts its next
Action Phase remove the Guard marker. Toggles intent is for two-sided
markers that flip over and exhaust.

On Tue, Apr 7, 2015 at 5:30 AM, ACG8 <notifications@github.com> wrote:

[2015-04-07 13:50] sIKE23 commented on #208
They pop as error messages, so hopefully you haven't been seeing any, but
you have to advance through the phases to trigger the error.

On Tue, Apr 7, 2015 at 5:30 AM, ACG8 <notifications@github.com> wrote:

[2015-04-07 14:56] ACG8 commented on #210
Yes, but it functions as a toggle. It is more efficient to use one command to handle it as opposed to two. Toggle is for boolean-valued variables, whereas add/remove is for integer-valued variables.

It may not have an off side, but it is simpler from the player's perspective if it is a toggle.

[2015-04-07 15:00] ACG8 commented on #210
I realize that there is no off side, and that it is used like add/remove markers in real life, but I am just suggesting that in OCTGN it would work better as a toggle with no OFF side.

[2015-04-07 15:29] sIKE23 commented on #210
That would leave the both adding/removing the Marker as Ctrl+G. I wonder if
it would be better to "Toggle" all of the markers like this. It would cut
in half the number of Key Maps we have.....

On Tue, Apr 7, 2015 at 10:00 AM, ACG8 <notifications@github.com> wrote:

[2015-04-07 16:14] ACG8 commented on #210
Some of them, certainly. But only the ones that can't have multiples (Zombie, Vet, Taunt, etc.). Markers like Burn, Daze, Growth, etc. still need 2 keys because they can have multiple copies. I am all in favor of reducing the number of key mappings.

[2015-04-07 16:57] sIKE23 commented on #210
Very true, I will have to look at what is there currently and work out what
can have multiple and what remains can be changed to be toggled...Q2
project for me, probably will just change this issue to morph it to this
idea.

On Tue, Apr 7, 2015 at 11:14 AM, ACG8 <notifications@github.com> wrote:

[2015-04-08 20:06] ACG8 commented on #183
I decided to move the generator to the dev dropbox folder, since it isn't needed in the game files at all.

Right now, I am considering a few possible ways to handle information encoding. Maybe you can weigh in with your opinion on some of these.

1. Unique abilities will be handled with one-off functions coded specifically for that card. Obviously, I want to make as few of these functions as poss

[2015-04-08 20:25] sIKE23 commented on #183
1. I think that makes sense, healing via attack dice you should be able to
roll an attack and then if it is [Healing] the target will += life instead
of -= life am I missing something?

2. That makes sense  though I wonder how many exceptions you will have to
put in for subtype == Mage instead of if type = Mage: type == Creature type
of coding

3: Brilliant!

On Wed, Apr 8, 2015 at 3:06 PM, ACG8 <

[2015-04-08 20:48] ACG8 commented on #183
roll an attack and then if it is [Healing] the target will += life instead
of -= life am I missing something?

That is how I originally handled it, before I removed it from the BC. The problem with treating Heal as an attack is that attacks have a lot of baggage that comes with them, such as abilities that trigger on attacks, effects that boost attacks, etc. While I could code exceptions for all o

[2015-04-08 21:03] sIKE23 commented on #183
1. Healing - great!
2. Mage - will have to be careful of Creature exclusions that do not
include Mages. Otherwise you persuasive argument makes sense.
3. I had guessed it would be easier to rewrite than mod what is there,
especially if you embed code in the creatures spell dictionary.

On Wed, Apr 8, 2015 at 3:48 PM, ACG8 <notifications@github.com> wrote:

[2015-04-16 00:48] ACG8 commented on #183
Oops, accidentally closed this.

[2015-04-16 20:45] ACG8 opened #211 "Link in-game help to community wiki"
See this thread: http://forum.arcanewonders.com/index.php?topic=15365.0

I figured out how to read content off of a webpage. This should make gathering content much easier.

[2015-04-16 22:12] sIKE23 commented on #211
Do you want to get him the txt files you have written at this point?

On Thu, Apr 16, 2015 at 3:45 PM, ACG8 <notifications@github.com> wrote:

[2015-04-16 22:22] ACG8 commented on #211
Good point. Yes, I think I should do that.

Once the format is determined, incorporating this should be very easy, so I am thinking it could be done as a patch to the Q1 release (which is tomorrow!); we don't want the wiki to stagnate.

[2015-04-16 22:43] sIKE23 commented on #211
yeah and it looks like there will be a new OCTGN build here soon and I was
told the card back code could make it in this release.....

On Thu, Apr 16, 2015 at 5:22 PM, ACG8 <notifications@github.com> wrote:

[2015-04-17 05:25] sIKE23 commented on #211
Created a folder called For-Wiki and put you two docs in along with a
spreadsheet matching card names to URLs.

Let me know if it is ok to share this with him.

On Thu, Apr 16, 2015 at 5:43 PM, Frederick Czajka <fczajka@pobox.com> wrote:

[2015-04-17 12:30] ACG8 commented on #211
Yes, please do. That should give him a big start on the wiki.

[2015-04-17 14:42] sIKE23 commented on #144
![tainted error](https://cloud.githubusercontent.com/assets/5695175/7203283/26b092e6-e4df-11e4-96f3-676a3788031f.jpg)
I will fix

[2015-04-17 14:46] sIKE23 opened #212 "Automate paying for activating Voltaric Shield"

[2015-04-17 14:50] sIKE23 commented on #144
schwenkgott We did a testrun:
schwenkgott 1) when you have prepared sandstorm and attack the enemy, you will get no attack sequence started. there is a bug with the sandstorm - fixed
schwenkgott 2) Heart of Gravikor (Melee Weapon) creates error upon attacking - fixed
schwenkgott 3) its possible to initiate an attack sequence although you are stunned.
schwenkgott 4) Push effect from Windstorm is no

[2015-04-17 19:37] ACG8 commented on #144
I guess I could change that.

Extinguish is not currently implemented. Didn't think it was that important.

Will look into this.

I'll take a look.

Sorry about that; I fixed it as soon as I saw the error message image. Hope that didn't cause too much sync trouble.

Haven't looked at it before. Probably missing from the XML definition.

This was never implemented.

Yes, this one should be working.

[2015-04-17 22:07] sIKE23 commented on #144
If you get the time to fix these issues that would be great...I can delay
by a day or two no problem, unless you want it out there....

On Fri, Apr 17, 2015 at 2:37 PM, ACG8 <notifications@github.com> wrote:

[2015-04-17 23:08] ACG8 commented on #144
I have some time. Let me see how many I can get through.

[2015-04-18 01:42] ACG8 commented on #144
Okay, I just fixed the problems that were relatively simple. I tested them, but maybe it would be a good idea for you to have them tested anyway. How do you feel about holding off on the rest of schwenkgott's un-fixed concerns? Are there any remaining that you think are essential for this release?

[2015-04-18 02:11] sIKE23 commented on #144
You left the shortcuts for Sleep the same as for Slam and there are no more
pairs of S's available, I think Ctrl+P and Ctrl+Shift+P are the best
candidates. I will fix the shortcut and roll another beta build and let
Schwenkgott know....

</sIKE>

On Fri, Apr 17, 2015 at 8:42 PM, ACG8 <notifications@github.com> wrote:

[2015-04-30 15:32] ACG8 opened #213 "Improved targeting interface"
For the newly planned functionality enabled by the spell dictionary, I want to create a nicer targeting function. The idea is that upon taking certain actions that require a target, the game will highlight all valid targets and then the player selects one by left-clicking on it. This gives much greater flexibility in allowing abilities to target things, and also is nicer interface-wise. I have alr

[2015-04-30 15:57] sIKE23 commented on #213
The highlighting of cards was done originally only on Facedown enchantments and prepared spells. I added the highlights to face up cards without action markers after spectating was introduced. I am not sure if we should turn this off. Couple of thoughts that rolled off the top of my head:

Maybe we could introduce a non-player color as the legal target color and the code handles the color manipula

[2015-04-30 16:12] ACG8 commented on #213
Those are excellent suggestions. Another option is to just not have any highlighting/indication at all, and just give a message if the player selects an illegal target (after some thought, this might be a good way to avoid giving your opponent information on what you are considering).

Targeting reticles could work, though they will not work for cards that are covered by other cards, such as encha

[2015-04-30 16:20] sIKE23 commented on #213
We can try it and see how it works.....I think the no highlight idea should work well, we would only prompt on an illegal choice....

I like transparent rules enforcement...

[2015-05-03 01:43] ACG8 opened #214 "Implement consolidated game memory handling"
This issue has been opened to keep track of changes that improve the game's memory of events. This memory is used, for example, to make sure that certain abilities can only be used once per round, or to check whether a given creature attacked and damaged a friendly creature earlier this round. Q1 already has a crude and unwieldy version of this; in Q2, I hope to consolidate and streamline this par

[2015-05-03 01:52] ACG8 opened #215 "Individual trait computation functions"
I think the most efficient way to handle trait computation is to do it one trait at a time. The game never needs to know EVERY trait of a creature; you only need to know certain traits at certain times. With this in mind, I intend to create a separate function for computing each trait in the game. It will be used in tandem with the spellDictionary. This should give fast, accurate computation of tr

[2015-05-03 22:16] ACG8 opened #216 "Improved attack system for Q2"
This issue has been opened to track changes relating to the new attack engine being built for Q2.

[2015-05-05 05:23] sIKE23 commented on #208
Fixed

[2015-05-05 05:23] #208 closed

[2015-05-06 00:01] sIKE23 opened #217 "If auto-initative is disabled, provide manual way to complete player setup"

[2015-05-06 00:36] sIKE23 commented on #217
Got get this figured out, gonna take a couple of hours to figure the game flow again and figure out where to jump to the createIniToken/Phase markers automation. Maybe this weekend.....

[2015-05-07 16:59] #122 closed

[2015-05-07 17:03] sIKE23 commented on #157
We never opened up a Issue for Binding, but we have the same issue with Binding that we had here with Attachments. We need to update the BindDict when a card is deleted/dragged/cast and moved from the Bound to object.

[2015-05-07 17:11] sIKE23 commented on #144
When Fumble is revealed by the BC and the Casting Costs are paid, the Attack should be canceled.

[2015-05-07 19:46] ACG8 commented on #144
This appears to be working as intended; I opened up a two player game with warlock v. priest, enchanted a cleric with fumble, and had it attack a dark pact slayer. Upon revealing fumble, I got the message "Asyran Cleric fumbles the attack!"

![image](https://cloud.githubusercontent.com/assets/10094820/7524456/aff6e1f2-f4c7-11e4-8927-1fba9a03edb8.png)

In what circumstances is this not working?

[2015-05-07 20:09] sIKE23 commented on #144
That is not what we were seeing, Try placing the Fumble on the Mage and
then have him make an attack....

On Thu, May 7, 2015 at 2:46 PM, ACG8 <notifications@github.com> wrote:

[2015-05-07 20:23] ACG8 commented on #144
Oh, okay. I'll take another look. If that is the problem, I think I can already guess what is causing it.

[2015-05-07 20:30] ACG8 commented on #144
No, it is still working for me...

![image](https://cloud.githubusercontent.com/assets/10094820/7525301/ca6ae442-f4cd-11e4-87f4-6825bc0cfefa.png)

[2015-05-07 21:14] ACG8 commented on #95
Okay, some rather exciting news. I figured out how to create a game timer without having to import any additional libraries. I just tested it out, and it works (I was able to have OCTGN keep track of time while doing other things like declaring attacks, playing spells, etc.).

Basically, I am passing function calls back and forth to avoid freezing any single player's computer. To do this, I make a

[2015-05-07 21:38] ACG8 commented on #95
Actually, now that I think about it, the applications go beyond just timing. This gives us a way to passively monitor anything we want without having to set specific triggers. For example, instead of checking for a player's death after each event that could possibly kill them, we could just check for a winner in the passive loop.

It is also important to note that this doesn't slow down the game,

[2015-05-08 14:12] sIKE23 commented on #144
Both players should be able to attach the same hidden enchantment on to the appropriate object. Think Rise Again...

[2015-05-09 15:15] sIKE23 opened #218 "Handle Guarding creatues in a zone"
If a player targets a creature, who is not on Guard, in a zone with another creature on Guard, the player should be prompted with something like:

That way the player can deal with Elusive, Pest, or Restrained traits...

[2015-05-09 16:17] sIKE23 commented on #151
I am unable to attach the Decoy Enchantment to anything.....

[2015-05-09 16:21] sIKE23 commented on #144
The BC does not handle the Wizard's Tower correctly.

Test: Prepare it, cast and pay for it, Bind legal hidden attack spell to the WT (the spell does bind), use the WT to launch a legal attack, you are prompted to pay the casting cost of the WT and the BC doesn't activate.

[2015-05-09 16:42] sIKE23 commented on #144
Does the BC handle the Dwarf Warlords runes?

[2015-05-09 17:41] ACG8 commented on #144
Yes; at least, it should handle the Armor +1, Defense +2, and Piercing +1 runes (but not the discount or cantrip runes)

[2015-05-09 18:50] sIKE23 commented on #144
Tried to bind a Stranglevine on to a Vine Tree and got the following error message:

![vinetreebug](https://cloud.githubusercontent.com/assets/5695175/7551556/63e84a4e-f652-11e4-8746-4378a47e6bd0.jpg)

[2015-05-09 19:12] ACG8 commented on #144
I just tested this, and there doesn't seem to be any difficulty with it (I ran two instances of OCTGN, and was able to have each player attach a face-down Rise Again to the same Bog Queen Acolyte). In what conditions does this not work?

[2015-05-09 19:12] sIKE23 commented on #190
Your good with death/damage message, need a cool one for when Stranglevine applies its damage, and good ideas?

[2015-05-09 19:14] sIKE23 commented on #144
I will find out......what card was having the issue. Did you see the one
with Decoy?

On Sat, May 9, 2015 at 2:12 PM, ACG8 <notifications@github.com> wrote:

[2015-05-09 19:17] ACG8 commented on #190
Hmm...

"Stranglevine tightens its hold on {}! ({} damage)"

"As Stranglevine grows, its hold on {} tightens! ({} damage)"

"{} is constricted by Stranglevine! ({} damage)"

"Stranglevine crushes {}! ({} damage)"

"Stranglevine writhes and constricts! ({} damage)

Don't think it needs to be much fancier than that.

[2015-05-09 19:18] ACG8 commented on #144
Yes, see cbdf0ea6e305d211201b2aa0d74de6db0e1af7d3

[2015-05-09 19:25] sIKE23 commented on #190
Wow, that was fast and I really like them. Could you add that in, I just
mage a commit with where that would need to go. Along with applying the
damage.

On Sat, May 9, 2015 at 2:17 PM, ACG8 <notifications@github.com> wrote:

[2015-05-09 20:58] sIKE23 opened #219 "Log Chat Output to Log File"
What I would like to do is capture the game state via the chat window and hopefully give players the ability to export/save/place on clipboard.
[code]
Then provide a way to export this or copy it to the clipboard......
ACG said

At some point what I like to do, and this was something lettucemode wanted to do :( was to capture the game stats to a stats server, he even got a webpost (https://github.

[2015-05-12 00:35] sIKE23 opened #220 "Mage Wars Arena and Academy"
So I see a bit of a challenge with how to handle these two games. On one hand they are separate games but on the other hand the cards (and therefore logic and associated game logic) will be (mostly?) forward compatible from Academy to Arena.

With this in mind I have been trying to work out in my mind at least how we should handle both games.

First question are both of you @ACG8 and @Kharhaz inte